[2014-08-15 19:31] jasonlally opened #741 "Fork and pull request workflow isn't working"
I'm trying to test a fork and pull request workflow to allow individuals to edit a public website, but I'm getting a spinning save button and a console error:

[code]

What I've done is set up a new account with a different email address and then attempted to edit a repo I own on my original account. It forks the repo, but does not commit and issue a pull request to the original repo.

I've tried

[2014-08-20 18:20] tristen opened #742 "Switch to Transifex Live"
Now that Transifex provides [live updating](https://www.transifex.com/live/) This would remove a lot of code and a build dependency.

[2014-08-22 17:54] parkr opened #743 "New Maintainer(s)"
Prose is looking for (a) new maintainer(s)! If you're passionate about this project and have some great JavaScript chops, we'd love to hear from you.

@dalejefferson [has volunteered](https://twitter.com/DaleJefferson/status/502162417443696640).

Anyone else up for the challenge?

/cc @tristen

[2014-08-27 03:18] ghost opened #744 "jekyllbootstrap and _config.yml without any effect"
i hosted a blog in github pages using jekyllbootstrap project, and then, when editing the _config.yml file to work with prose, it simply has no effect.

This is the link for the _config.yml file: https://github.com/robotica-ifce/robotica-ifce.github.com/blob/master/_config.yml

and this is the project of the hosted page: https://github.com/robotica-ifce/robotica-ifce.github.com

What i mean by no

[2014-08-27 15:37] #744 closed, assigned to nobody

[2014-08-27 16:54] mikemorris opened #745 "Evaluate Atom editor to potentially replace CodeMirror"
http://blog.atom.io/2014/07/02/moving-atom-to-react.html

Looked at Ace previously, which didnt work out because it too lacked mobile support #556

CodeMirror does not support mobile browsers https://github.com/prose/prose/issues/554
CodeMirror has usability issues from hidden textarea tricks and no support for spellcheck https://github.com/prose/prose/pull/680 https://github.com/prose/prose/issue

[2014-08-29 07:33] #711 closed, assigned to nobody

[2014-08-29 16:13] #662 closed, assigned to nobody

[2014-08-29 16:14] #727 closed, assigned to nobody

[2014-08-29 16:16] #624 closed, assigned to nobody

[2014-08-29 16:20] #627 closed, assigned to nobody

[2014-08-29 16:21] #731 closed, assigned to nobody

[2014-08-29 16:22] #695 closed, assigned to nobody

[2014-08-29 17:08] #654 closed, assigned to nobody

[2014-08-29 17:13] #689 closed, assigned to nobody

[2014-08-29 17:27] #740 closed, assigned to nobody

[2014-08-30 03:03] hdgarrood opened #748 "Configuration linting"
I think Prose would benefit from a linting tool for the prose-specific configuration.

If there is a problem with the config, an obvious warning should come up in the web UI with an explanation and a suggested fix.

Some examples of issues where not having this causes confusion: #661 #612 #747 #674

[2014-08-31 07:11] orschiro opened #749 "Better navigation in directory tree"
Hi there,

I am essentially missing a button to go one level up in the directory tree.

Let's say I am editing an `.md` file and want to get back to my `_posts` directory to edit another one, then there is currently no good way of doing this. Could we think of adding a button to navigate up the directory?

Such a button could ideally be placed somewhere in the header:

![img004](https://cloud.gith

[2014-08-31 13:00] #566 closed, assigned to nobody

[2014-08-31 19:12] #702 closed, assigned to nobody

[2014-08-31 20:29] pavel-voronin opened #755 "Missing translation (RU) for markdown help panel on prose.io"
![5403848f38d38708b0c6f5f2](https://cloud.githubusercontent.com/assets/1109808/4103157/fb95876a-314c-11e4-82d3-0cf4678d109f.png)

I have russian as my UI language. And there is translated line (127) in transifex. But instead english version appears on prose.io.

[2014-09-01 20:03] dmitrig01 opened #756 "Commit rejected with "[file] does not match [sha]""
I tried to get a file (by pressing the trash icon), and this is what I get:

[code]

[2014-09-01 21:10] GertSallaerts opened #757 "Jekyll plugins"
I can't seem to find any mention of this and my own tests seem to indicate it is not included, but could anyone confirm to me that Jekyll plugins (placed in the _plugins folder) will not work in the prose preview?

[2014-09-01 21:18] #757 closed, assigned to nobody

[2014-09-02 09:15] #755 closed, assigned to nobody

[2014-09-05 09:02] hdgarrood opened #759 "should metadata refresh after setRaw()?"
See https://github.com/prose/prose/blob/master/app/views/metadata.js#L521

This looks like a bug - I guess we should either remove this line, or call `this.refresh`?

[2014-09-05 13:21] wbushey opened #760 "Add support for a datetime or raw metadata element type"
Hi,

We've been using Prose for a while to edit our GitHub Page/Jekyll site http://opentwincities.org/ (thanks for that by the way, it's awesome). This site publishes regular blog posts, as well as event posts for events that will occur in the future, and recently we've been working on [adding an event_date datetime metadata field](https://github.com/OpenTwinCities/opentwincities.github.com/issues

[2014-09-05 16:34] #741 closed, assigned to nobody

[2014-09-06 12:02] gep13 opened #761 "Optionally add [ci skip] to commits made via Prose?"
I have recently set-up a blog site using Octopress, and Prose.io as the mechanism for creating posts.  IN addition, I have recently set up AppVeyor to build/push to the `master` branch when a change is detected in the `source` branch.

This is working really well, with one slight annoyance...

When I upload an image, which commits in the background while I am writing the post, this triggers a buil

[2014-09-06 16:27] hdgarrood opened #762 "Better UI surrounding network errors"
refs #750 #733

The UI surrounding network / github api errors when saving files is not very good at the moment:

![](https://cloud.githubusercontent.com/assets/1270186/4102611/e5b4666e-3133-11e4-8b00-649afad1e23b.png)

This box should probably be a bit wider, and the arrow should line up with the save button. Also the whole message should be visible.

[2014-09-06 16:28] #733 closed, assigned to nobody

[2014-09-06 23:21] hdgarrood opened #763 "TypeError when requesting file on non-existent branch"
Steps:
- Visit the edit page for a file in a non-existent branch, eg http://prose.io/#prose/prose/edit/foobar/index.html

Expected: file not found dialog.

Got:

[code]

also no clear indication from the UI that something went wrong.

[2014-09-06 23:42] #169 closed, assigned to nobody

[2014-09-08 15:24] marsadie opened #765 "New post lost after attempted image insert"
Autosave would have been nice. Bummer

[2014-09-12 22:37] sschafft opened #766 "Error with "textarea" element type (OSX / Chrome 37)"
For some reason if the "textarea" field is selected it is wiping out the data associated with anything stored in that field. Setting it back to just "text" seems to solve the issue but the input area isnt ideal.

Screencast:
http://youtu.be/KwoXbfOXy9w

[2014-09-14 19:29] amontalenti opened #767 "CSS stylesheet for printing should hide footer/toolbar"
This is probably a pretty easy fix. The CSS sheet used for printable views should hide the `#navigation` and `#drawer` elements, and any other floating elements on the page so that the page prints cleanly in preview mode. Also lets browsers provide a pretty nicely-formatted PDF export "for free", enhancing the value of Prose overall.

[2014-09-17 09:38] fkostadinov opened #768 "Combining Prose, JSONForm, Jekyll-DB and _data directory to a simple data management system"
Hi there,

I managed to create a simple data management system by combining Prose, JSONForm, Jekyll-DB and Jekyll's new _data directory feature.
1. I use Prose as an overlay on GitHub.
2. I tweaked Prose a bit, so that it opens a HTML form for files with a predetermined file ending (<code>&#42;-foo.json</code>, <code>&#42;-bar.json</code> etc.). The HTML forms are specified in JSONForm per file ty

[2014-09-18 23:23] #768 closed, assigned to nobody

[2014-09-29 15:36] budparr opened #771 "Question about Front Matter Formatting for Jekyll Only"
I'm curious to know what makes the front matter formatting options (e.g. being able to declare a field type in the config) particular to Jekyll?

Or, more specifically, if it's possible to do the same sort of formatting for anything other than Jekyll. I've tried to figure this out on my own, but could not.

Thanks, @hdgarrood, for stepping in on prose.io. I appreciate it very much (as well as the

[2014-09-30 14:36] howardroark opened #772 "Interest in supporting "mainstream" users?"
I work in advertising.  Today the de-facto way to build a site is to shoot Wordpress out of a cannon and hope it lands safely.  The process leads to countless issues, from security problems to awkward hacks.  Most of all it falls flat when hit with traffic.

Jekyll solves all of these "under-the-hood" issues. What it doesn't offer is the option of a lovely form that caters to "mainstream" use case

[2014-09-30 15:43] #772 closed, assigned to nobody

[2014-09-30 17:31] #771 closed, assigned to nobody

[2014-10-02 22:28] catachresis opened #773 "Commit Save Failure"
Saw #623, which also references #619, but I'm finding the issue is back. When I create a new post and attempt to save the commit, I just get dumped back at my prose.io home.

Also of note: the changes show up in the preview view, but nothing shows up in the "Review Changes" screen.

[2014-10-03 15:31] #773 closed, assigned to nobody

[2014-10-04 15:20] #745 closed, assigned to nobody

[2014-10-06 14:40] anandthakker opened #774 "Preview for HTML pages not within _posts or _drafts"
Because of the way the `jekyll` flag is being set in [this line](https://github.com/prose/prose/blob/master/app/views/file.js#L527), and then checked in [this line](https://github.com/prose/prose/blob/master/app/views/file.js#L538), HTML documents not within the `_posts` or `_drafts` directory cannot be previewed.

I think that it's valuable to be able to preview such files, since they may still u

[2014-10-07 19:01] webrush opened #775 "RTL Editing Doesn't Work at All!"
The only thing that happens when you switch the language to Hebrew, is that the document direction changes from left to right, but this is where it stops.

Nothing else works, you can't select a word or a sentence to edit, line breaks are all over the place.
Once you start a new line, the line above it is no longer editable.

The YML front matter panel is in more bad shape than the text editor as

[2014-10-08 15:31] #774 closed, assigned to nobody

[2014-10-13 17:42] #613 closed, assigned to nobody

[2014-10-14 11:21] nicodev3 opened #780 "error on the first word..."
Just a minor thing, but there is an error on the http://prose.io/#about page on the first line...
_beatifully_ instead of _beautyfully_... Not very beautyfull... :)

[2014-10-14 12:52] #780 closed, assigned to nobody

[2014-10-16 06:21] JulianJorgensen opened #781 "Missing documentation for "site:" parameter"
All I can find about this parameter is this:
"This field accepts a list of absolute .JSONP paths to content that is loaded during Jekyll live previews. This is particularly useful for building out tags or categories that should be present during preview."

Would love to understand more about it, as I use "asset_path" for my .css files. Currently Preview is not loading the styles because of this.
H

[2014-10-18 16:24] erlend-sh opened #782 "Feature request: Create an official Docker image"
Setting up a self-hosted Prose would be a lot easier if you offered an official Docker image for Prose on the [Docker Registry](https://registry.hub.docker.com/).

Can also come in handy for easier development environments now that [Fig](http://www.fig.sh/) is being merged into Docker.

[2014-10-19 19:15] jerriclynsjohn opened #783 "Data loss when trying to save after updating metadata and broken preview"
I tried the following:
1. Removed the "title" from the _config.yml (to enable manually editing the file name)
2. Typed in the "title" into the raw metadata
3. Saved it and got redirected to index of project
4. File is nowhere to be found, data lost!

This is not good, thank god that I saved my drafts in Evernote!

UPDATE
It seems like once you click the DONE button after updating the raw metadata

[2014-10-20 16:10] #782 closed, assigned to nobody

[2014-10-20 16:21] #783 closed, assigned to nobody

[2014-10-23 13:31] anandthakker opened #784 "build: use local oauth.json if it already exists"
Currently, the build (via the `oauth` task) pulls down the `oauth.json` the repository, regardless of whether one already exists.  This is inconvenient any time you want to serve up a different instance of prose using your own gatekeeper.  How about if we just make the `oauth` task only pull down from the repo if `oauth.json` doesn't already exist, leaving it alone otherwise?  cc @prose/contributo

[2014-10-23 16:41] #784 closed, assigned to nobody

[2014-11-04 02:43] jptiancai opened #786 "Add menu button of table"
`environment`:chrome 37.0.2062.3 dev-m
`replicate steps`:open edit pages

| index | name | description |
| --- | --- | --- |
| index01 | name01 | des01 |

[2014-11-07 11:04] orschiro opened #787 "Field element does not appear in Metadata"
Hi there,

I noticed a strange behaviour. I use the following `Title` element in my `_config.yml`:

[code]

Thus, I expect the title field to show up when writing a new post and clicking on `Metadata`, next to the other buttons `Preview` and `Save`.

However, only the date field shows up. Any idea what could cause the troubles?

![screenshot](https://cloud.githubusercontent.com/assets/170947/49519

[2014-11-07 16:23] #787 closed, assigned to nobody

[2014-11-10 03:40] #629 closed, assigned to nobody

[2014-11-10 03:41] #628 closed, assigned to nobody

[2014-11-11 03:09] #582 closed, assigned to nobody

[2014-11-11 03:39] mikemorris opened #788 "Revisit js-yaml fork?"
This seems like an ill-advised commit https://github.com/prose/js-yaml/commit/683086716c4b2c26c50767d7d964e4de5478d43d

[2014-11-11 03:40] mikemorris opened #789 "gulp-rimraf to del"
https://github.com/gulpjs/gulp/blob/master/docs/recipes/delete-files-folder.md

[2014-11-18 13:22] orschiro opened #790 "Always having to authorise on Github"
Hi there,

Can someone reproduce the issue of having to re-authorise on Github each time when using `http://prose.io` and Firefox?

Installed version:

[code]

Thanks for testing and reporting back,

Robert

[2014-11-25 06:23] davidascher opened #791 "Allow configuration of different "new post" content by content type"
I have a site which has two kinds of content types (Jekyll collections). I'd like the "default text" for each to be specific (and forego the localization of said content).  I assume it's possible, but I can't find it in the wiki or in any of the sample configs.

[2014-11-25 19:01] dazinator opened #792 "Lost Work - New Post"
Hello,

I just created a "New Post" - spent about 2 hours editing it, and then hit the backspace key on my keyboard which caused chrome to navigate back to the previous page. It now appears I have lost my work! I didn't get a warning about naviagting away, and there doesn't appear to be any kind of autosave feature.. Is there something I am missing? :(

[2014-11-25 19:11] #792 closed, assigned to nobody

[2014-12-05 08:59] orschiro opened #793 "Frequent downtime of prose.io"
Hello,

Can someone confirm the frequent downtime of [prose.io](http://prose.io)?

What are the reasons?

Robert

[2014-12-05 23:08] #444 closed, assigned to nobody

[2014-12-07 02:56] eduOS opened #795 "On analysis"
Great! Thanks very much for providing such an awesome stuff.
I am wondering if I could find any tools around GitHub like prose for non-coding materials content analysis.

[2014-12-08 16:13] #795 closed, assigned to nobody

[2014-12-09 04:28] juicymark opened #796 "Jekyll - Prose - Github Pages"
Hi.

Hopefully im in the correct place here for asking general question about prose.io, if not can someone point me to the correct place.

Basically i which to start using jekyll for my website, and have installed a test version using github and github pages..

When i update a post file on the master branch using prose.io it has updated the file in the master on github, but not passed these change

[2014-12-09 16:42] #796 closed, assigned to nobody

[2014-12-09 17:14] #353 closed, assigned to mikemorris

[2014-12-20 12:25] anandthakker opened #800 "Splash screen for initial load"
Sometimes, when I first open up Prose, there's an unsettling blank screen while it's loading (presumably waiting on the github data).  It would be helpful to show the loading spinner during this time, so that users don't just think it's broken.

[2014-12-24 23:04] tylerhou opened #802 "Installing on Windows returns mkdir errors"
Installing prose on Windows returns mkdir errors. This is because Windows `mkdir` by itself does not support the `-p` flag, and instead creates a directory *-p*:
![image](https://cloud.githubusercontent.com/assets/5315734/5551341/2bc2e042-8b96-11e4-9f1c-46f7182afbb6.png)

`gulpfile.js` invokes `mkdir -p` when it runs, causing the error on Windows. Even when there is a GNU version of `mkdir` on the

[2015-01-03 00:32] enochappathurai opened #803 "Improvement: Apple Web App"
Improvement: Make Prose an Apple Web App
===================================

By inserting the following lines of code into each page, Prose could be saved to Home Screen and made a Web App:
&lt;meta name="apple-mobile-web-app-capable" content="yes" /&gt;
&lt;meta name="apple-mobile-web-app-status-bar-style" content="black" /&gt;

I hope that this will be implemented as there are not many sites/ap

[2015-01-05 19:42] mikemorris commented on #803
I swear I had Prose saved as a bookmark/web app at some point on my iPad, should still be possible, this just isolates it in its own app/webview, right?

[2015-01-05 19:49] mikemorris commented on #802
Good catch. This should be using `node-mkdirp` - PR please and I'll merge it.

[2015-01-06 06:40] enochappathurai commented on #803
Yeah Mike,

This makes it work in its own app instead of opening in safari.

enoch

On 06/01/2015, at 6:42, "Mike Morris" <notifications@github.com> wrote:

[2015-01-06 15:22] mikemorris commented on #803
If you can PR this into [`index.html`](https://github.com/prose/prose/blob/master/index.html) and test it to make sure it's working as you expect, I'll click the merge button.

[2015-01-07 09:41] enochappathurai commented on #803
Pull Requested, Awaiting acceptance :+1:

[2015-01-07 15:02] #803 closed

[2015-01-10 21:49] Floppy commented on #643
Pinging @mikemorris or any other developer again - how is this flow *supposed* to work? Is this a bug, or an enhancement? That may guide whoever tries to fix this in the right direction.

[2015-01-12 16:06] #802 closed

[2015-01-12 16:56] mikemorris commented on #643
@Floppy The expected workflow would be for the user to be automatically logged in to GitHub if the user has authorized Prose previously but is not logged in, prompted to auth Prose with GitHub if logged in but not already authorized, or prompted to log in and then auth if not logged in to GitHub and Prose has been been previously authorized.

This functionality was in the original scope of Things

[2015-01-12 17:03] Floppy commented on #643
Workflow sounds right, yes. Useful to know it was never actually added, so it's basically a new feature. Thanks!

[2015-01-19 21:03] Floppy commented on #674
Likewise, I get this when trying to use the metadata editor. Once you've tried to edit metadata, prose dies completely and can't save, throwing this error. I tried to add just this to the metadata section:
[code]

[2015-01-19 21:50] jasonlally opened #807 "Accepting query string elements to pre-populate metadata"
I don't think I saw this anywhere in the current issues or functionality, but it would be great if we could pass query string elements that matched the metadata labels to prose. The use case would be this:

- User is on a Jekyll site and would like to add a related **update** to a **project post**.
- The add update link would pass in a query string parameter that would pre-populate a field used to

[2015-01-20 00:08] jasonlally commented on #807
I see this similar issue #437 closed because of security and complexity concerns. That makes sense to me. Is there another way to get the desired workflow without introducing these problems? My use case is about passing data from within an existing website, not via an extension.

If it's not possible at all, feel free to close, otherwise, it really would support a lot of useful workflows for manag

[2015-01-20 17:47] mikemorris commented on #807
I would think you could implement this functionality by using [metadata configuration](https://github.com/prose/prose/wiki/Prose-Configuration#metadata-configuration) paired with a custom directory structure.

[2015-01-21 01:28] jasonlally commented on #807
Is it possible to create a post in a new folder before it exists? I think the issue is it certainly is possible to link 2 posts together, but I'm attempting to lower some of the admin overhead of doing that. I think the custom directory structure would have to be in place already to create posts there, isn't that right?

I'm okay with doing something less "automatic," I'm just trying to save users

[2015-01-21 07:41] jasonlally commented on #807
Bah! Figured out a way to get at what I want to do. You're right, I can just send people to a folder with the particular ID as the folder name and then generate a name with the current date and some naming convention like update-1, update-2, etc.

[2015-01-21 07:41] #807 closed

[2015-01-21 16:15] mikemorris commented on #807
Yep, configure metadata presets for a folder in `_config.yml` (it doesn't have to exist yet), then stick that folder name in the link path.

[2015-01-22 17:09] Greg-Boggs commented on #765
Image uploading also fails for me with both the upload dialog and the drag and drop in both firefox and chrome on a generic jekyll github.io page. Ill have to give the starter project a try.

[2015-01-25 20:34] Floppy commented on #643
I've had a sudden brainwave. Is this as simple as basically clicking on the "authorise with github" icon if it's there? That's what I tell my users to do. If we did that automatically, it might resolve this, right?

[2015-01-27 22:15] Floppy commented on #643
I'm exploring this a bit now. Is there any reason to use prose *without* being authenticated to github? I can't think of one...

[2015-01-28 13:56] hdgarrood commented on #643
That sounds sensible to me; I can't think of a reason not to do that, either.

I can't think of one.

Having said these things, I'm not that familiar with Prose, so I'd want at least a second opinion before going ahead with this.

[2015-01-28 15:39] leahbannon commented on #643
I think there are 2 issues here:
1: if you make changes in prose without *first* logging in to GitHub, and then try to submit/save those changes, prose just hangs and all of your edits are lost
2: it's not possible to make edits in prose as an unauthenticated user

I think this issue is focused on 1, and that's the most immediate need. However, I can absolutely think of reasons to support 2, if yo

[2015-01-28 15:57] dhcole commented on #643
1. sounds like a bug that we should fix.

About 2: how would you see this working? The point of authenticated in so we can save the change back to github (either in the main repo if the user has permission, or in a fork if they don't). So where would changes be stored if a user doesn't authenticate?

I think the original intent of Prose was to be the CMS replacement for an internal team editing co

[2015-01-28 16:10] konklone commented on #643
You would know better than me the original intent, but FWIW, I only ever thought about Prose in the capacity of a better public GitHub editor. That's how it entered into my brain. And it used to work for that - I'm pretty sure this is a regression.

[2015-01-28 16:34] Floppy commented on #643
So, the issue here is definitely one we should fix, yes. I'm looking around the code and it seems that the simplest fix would be to force the whole of prose to require github login immediately. @dhcole, I think we're agreeing: there is *no* reason to use prose unless you are logged in with a github account. That means that the simple fix I've got in mind would be fine.

[2015-01-28 16:49] leahbannon commented on #643
That fix sounds good. But @Floppy, I did just outline a couple good reasons for using prose without being logged in.

[2015-01-28 17:00] adelevie commented on #643
FWIW, @benbalter, has made [a tool for un-authenticated user to submit issues](https://github.com/benbalter/comment-card). @leahbannon's use case + validation of the idea in the Issues space is hardly "*no*" good reason. Fine if that's outside of the scope of this project, but good reasons exist.

[2015-01-28 17:12] Floppy commented on #643
My apologies @leahbannon, I didn't mean to imply that your use cases weren't valid, I'm just focused on the use of prose as it stands at the moment. There are plenty of good reasons that non-github users might want to make an edit or submit an issue, and @benbalter's work there is excellent.

Let me see if I can express my question more clearly.

Is there an existing active feature of prose which

[2015-01-28 17:15] Floppy commented on #643
That said, @leahbannon, I agree that having a way for non-github users to submit changes would be great and would lower the barrier to entry for people. My use case is http://openpolitics.org.uk/manifesto, and definitely there most people aren't github users. Perhaps it's worth opening another feature request to allow edits from non-authenticated users somehow so it can be discussed there? If I di

[2015-01-28 20:31] leahbannon commented on #643
Ah ok, thank you for the clarification! I will open an enhancement request issue.

[2015-01-28 20:59] fulldecent opened #808 "Add [Move] button to file browser, remove Settings menu"
In the file editor, there is a Settings menu which has only two options: Delete and Move (Rename) file.

One of these options duplicates the UI of the file browser screen which also has a Delete icon.

In the interest of simplifying the UI, I recommend to delete the Settings menu and add a [Move] button to the file browser screen.

[2015-01-29 15:56] wonaldson opened #809 "Cannot paste into content editor on iPhone 6"
I wrote a post for my site in the notes app on my iPhone, but I cannot actually paste it into Prose. I can move the cursor but can't find a way to paste. I am using iOS 8.1.3 and Safari.

[2015-01-29 17:57] mikemorris commented on #809
This could be a CodeMirror error, which doesn't promise iOS support, [although copy/paste has been reported to work](https://github.com/codemirror/CodeMirror/issues/60#issuecomment-10023860) (albeit several years ago).

[2015-01-29 18:54] wonaldson commented on #809
Maybe this ticket should be renamed "Better iOS support" then 😝

William Donaldson
m: (845) 549-3235

[2015-01-30 15:29] MartinLyne commented on #623
I don't know if it's related to this, but I can't seem to save any metadata. Fill it in, save, go back to it, open meta data, empty. I'm a new user so not sure if I'm missing something.

I also noticed that a new post with metadata added is not saved at all. It says it commits, but nothing in github and nothing in drafts. If I make a post with no metadata, everything saves okay.

[2015-01-31 10:23] pyrog commented on #574
I did that until I find this discussion :laughing:

I'am on Mac OS X and with **Safari** and **Chrome** process is always hanging :disappointed:
With **Firefox**, the browser intercept the drop, leave the current page and display the image :disappointed_relieved:

So, when I drop the image, the save icon is replaced by a spinner. His popup display *Uploading xxxx*
![uploading image](https://cloud.

[2015-01-31 10:40] pyrog commented on #765
Same for me. I did the test on existing project not build by prose.

@Greg-Boggs What do you mean by  *"_config.yml file isn't correct"*?
Mine use have the parameter ```baseurl:``` set.

[2015-01-31 10:41] pyrog commented on #574
Also, I can't upload any image, see #765

[2015-01-31 12:10] pyrog commented on #574
Work fine if I edit a fork of starter ;)

[2015-01-31 19:34] aloisdg commented on #790
Same issue (Chrome Canary Win8.1)

[2015-02-01 05:53] juliocesar-io opened #810 "It breaks the date when I update a post."
It should put the current date but I get an empty string. Is there a problem or I have a misconfiguration ?
![screenshot from 2015-02-01 00 44 11](https://cloud.githubusercontent.com/assets/5655753/5991188/7a32fb12-a9ab-11e4-98d3-2bbe3f7c659f.png)
~ On Linux/Firefox 35.

[2015-02-02 15:40] mikemorris commented on #810
Possible dupe of https://github.com/prose/prose/issues/637?

[2015-02-02 16:29] uzi200 commented on #810
Oh for sure, but I already solved it with this option
``
date: CURRENT_DATETIME
``

[2015-02-02 16:50] mikemorris commented on #810
Is `CURRENT_DATETIME` working again? Last I checked it was [broken](https://github.com/prose/prose/issues/277).

[2015-02-03 10:37] davidkalosi commented on #563
+1 on this. happened to me today

[2015-02-03 20:23] fulldecent commented on #111
Hello and thank you for this issue report. There have been several point releases in Prose since this issue was opened and there has not been much discussion here. I wanted to ask if you could please assist in confirming this is still an issue in the latest version of the product. If it is fixed, please close this issue :-)

Also, if possible could you please

  * Create a test case -- a list of s

[2015-02-03 20:23] fulldecent commented on #126
@anandthakker Thank you, this fix looks great!

[2015-02-03 20:24] fulldecent commented on #238
Is there anyone excited to work on this feature?

[2015-02-03 20:25] fulldecent commented on #277
Hello and thank you for this issue report. There have been several point releases in Prose since this issue was opened and there has not been much discussion here. I wanted to ask if you could please assist in confirming this is still an issue in the latest version of the product. If it is fixed, please close this issue :-)

Also, if possible could you please

  * Create a test case -- a list of s

[2015-02-03 20:25] fulldecent commented on #350
Hello and thank you for this issue report. There have been several point releases in Prose since this issue was opened and there has not been much discussion here. I wanted to ask if you could please assist in confirming this is still an issue in the latest version of the product. If it is fixed, please close this issue :-)

Also, if possible could you please

  * Create a test case -- a list of s

[2015-02-03 20:25] fulldecent commented on #385
Recommending close issue

[2015-02-03 20:26] fulldecent commented on #434
Hello and thank you for this issue report. There have been several point releases in Prose since this issue was opened and there has not been much discussion here. I wanted to ask if you could please assist in confirming this is still an issue in the latest version of the product. If it is fixed, please close this issue :-)

Since this project is looking for new maintainers (#743), it will be help

[2015-02-03 20:27] fulldecent commented on #435
Since #437 was close as wontfix, recommending to close this issue too

[2015-02-03 20:27] fulldecent commented on #468
Hello and thank you for this issue report. There have been several point releases in Prose since this issue was opened and there has not been much discussion here. I wanted to ask if you could please assist in confirming this is still an issue in the latest version of the product. If it is fixed, please close this issue :-)

Also, if possible could you please

  * Find out if this only affects cer

[2015-02-03 20:27] fulldecent commented on #482
Hello and thank you for this issue report. There have been several point releases in Prose since this issue was opened and there has not been much discussion here. I wanted to ask if you could please assist in confirming this is still an issue in the latest version of the product. If it is fixed, please close this issue :-)

Also, if possible could you please

  * Find out if this only affects cer

[2015-02-03 20:27] fulldecent commented on #484
Is there anyone that is excited to work on this new feature?

[2015-02-03 20:28] fulldecent commented on #497
Is anyone excited to work on this feature?

[2015-02-03 20:28] fulldecent commented on #501
Hello and thank you for this issue report. There have been several point releases in Prose since this issue was opened and there has not been much discussion here. I wanted to ask if you could please assist in confirming this is still an issue in the latest version of the product. If it is fixed, please close this issue :-)

Since this project is looking for new maintainers (#743), it will be help

[2015-02-03 20:29] #435 closed

[2015-02-03 20:29] fulldecent commented on #502
Hello and thank you for this issue report. There have been several point releases in Prose since this issue was opened and there has not been much discussion here. I wanted to ask if you could please assist in confirming this is still an issue in the latest version of the product. If it is fixed, please close this issue :-)

Since this project is looking for new maintainers (#743), it will be help

[2015-02-03 20:29] fulldecent commented on #503
Is anybody interested to work on this feature?

[2015-02-03 20:30] fulldecent commented on #508
Recommending to close this issue as out of scope

[2015-02-03 20:30] fulldecent commented on #513
Hello and thank you for this issue report. There have been several point releases in Prose since this issue was opened and there has not been much discussion here. I wanted to ask if you could please assist in confirming this is still an issue in the latest version of the product. If it is fixed, please close this issue :-)

Since this project is looking for new maintainers (#743), it will be help

[2015-02-03 20:31] fulldecent commented on #518
Is anyone excited to work on this project?

[2015-02-03 20:32] fulldecent commented on #706
I believe this is added now.

Hello and thank you for this issue report. There have been several point releases in Prose since this issue was opened and there has not been much discussion here. I wanted to ask if you could please assist in confirming this is still an issue in the latest version of the product. If it is fixed, please close this issue :-)

Since this project is looking for new maint

[2015-02-03 20:32] fulldecent commented on #524
Hello and thank you for this issue report. There have been several point releases in Prose since this issue was opened and there has not been much discussion here. I wanted to ask if you could please assist in confirming this is still an issue in the latest version of the product. If it is fixed, please close this issue :-)

Since this project is looking for new maintainers (#743), it will be help

[2015-02-03 20:32] fulldecent commented on #540
Hello and thank you for this issue report. There have been several point releases in Prose since this issue was opened and there has not been much discussion here. I wanted to ask if you could please assist in confirming this is still an issue in the latest version of the product. If it is fixed, please close this issue :-)

Also, if possible could you please

  * Find out if this only affects cer

[2015-02-03 20:34] fulldecent commented on #545
Is anyone inspired to work on this project?

Recommending to close this issue as out of scope

[2015-02-03 20:34] fulldecent commented on #551
Hello and thank you for this issue report. There have been several point releases in Prose since this issue was opened and there has not been much discussion here. I wanted to ask if you could please assist in confirming this is still an issue in the latest version of the product. If it is fixed, please close this issue :-)

Also, if possible could you please

  * Find out if this only affects cer

[2015-02-03 20:34] fulldecent commented on #553
Is anyone excited to work on this new feature?

[2015-02-03 20:34] fulldecent commented on #554
Hello and thank you for this issue report. There have been several point releases in Prose since this issue was opened and there has not been much discussion here. I wanted to ask if you could please assist in confirming this is still an issue in the latest version of the product. If it is fixed, please close this issue :-)

Also, if possible could you please

  * Find out if this only affects cer

[2015-02-03 20:35] fulldecent commented on #557
Is anyone interested to work on this feature?

[2015-02-03 20:35] fulldecent commented on #558
Related #541

[2015-02-03 20:36] fulldecent commented on #559
Is anyone interested to help implement this?

[2015-02-03 20:36] fulldecent commented on #560
Hello and thank you for this issue report. There have been several point releases in Prose since this issue was opened and there has not been much discussion here. I wanted to ask if you could please assist in confirming this is still an issue in the latest version of the product. If it is fixed, please close this issue :-)

Also, if possible could you please

  * Find out if this only affects cer

[2015-02-03 20:36] fulldecent commented on #560
Hello and thank you for this issue report. There have been several point releases in Prose since this issue was opened and there has not been much discussion here. I wanted to ask if you could please assist in confirming this is still an issue in the latest version of the product. If it is fixed, please close this issue :-)

Also, if possible could you please

  * Find out if this only affects cer

[2015-02-03 20:37] fulldecent commented on #561
Is there still interest in getting this done? Is anyone volunteering?

[2015-02-03 20:37] fulldecent commented on #563
Hello and thank you for this issue report. There have been several point releases in Prose since this issue was opened and there has not been much discussion here. I wanted to ask if you could please assist in confirming this is still an issue in the latest version of the product. If it is fixed, please close this issue :-)

Also, if possible could you please

  * Find out if this only affects cer

[2015-02-03 20:37] fulldecent commented on #565
Hello and thank you for this issue report. There have been several point releases in Prose since this issue was opened and there has not been much discussion here. I wanted to ask if you could please assist in confirming this is still an issue in the latest version of the product. If it is fixed, please close this issue :-)

Also, if possible could you please

  * Find out if this only affects cer

[2015-02-03 20:38] fulldecent commented on #565
Hello and thank you for this issue report. There have been several point releases in Prose since this issue was opened and there has not been much discussion here. I wanted to ask if you could please assist in confirming this is still an issue in the latest version of the product. If it is fixed, please close this issue :-)

Also, if possible could you please

  * Find out if this only affects cer

[2015-02-03 20:38] fulldecent commented on #579
Hello and thank you for this issue report. There have been several point releases in Prose since this issue was opened and there has not been much discussion here. I wanted to ask if you could please assist in confirming this is still an issue in the latest version of the product. If it is fixed, please close this issue :-)

Also, if possible could you please

  * Find out if this only affects cer

[2015-02-03 20:38] fulldecent commented on #580
Hello and thank you for this issue report. There have been several point releases in Prose since this issue was opened and there has not been much discussion here. I wanted to ask if you could please assist in confirming this is still an issue in the latest version of the product. If it is fixed, please close this issue :-)

Also, if possible could you please

  * Find out if this only affects cer

[2015-02-03 20:38] fulldecent commented on #585
Hello and thank you for this issue report. There have been several point releases in Prose since this issue was opened and there has not been much discussion here. I wanted to ask if you could please assist in confirming this is still an issue in the latest version of the product. If it is fixed, please close this issue :-)

Also, if possible could you please

  * Find out if this only affects cer

[2015-02-03 20:40] tristen commented on #580
Closed as stale

[2015-02-03 20:40] #580 closed

[2015-02-03 20:40] fulldecent commented on #601
I can note that yes, Jekyll skips future posts by default. It is noted here http://jekyllrb.com/docs/configuration/

[2015-02-03 20:42] fulldecent commented on #602
Recommending to close issue

[2015-02-03 20:42] fulldecent commented on #612
+1 on this patch

[2015-02-03 20:43] fulldecent commented on #620
This is fixed in the latest version, recommending close issue

[2015-02-03 20:43] fulldecent commented on #625
Recommending to close issue as out of scope

[2015-02-03 20:43] fulldecent commented on #626
Hello and thank you for this issue report. There have been several point releases in Prose since this issue was opened and there has not been much discussion here. I wanted to ask if you could please assist in confirming this is still an issue in the latest version of the product. If it is fixed, please close this issue :-)

Also, if possible could you please

  * Find out if this only affects cer

[2015-02-03 20:44] fulldecent commented on #634
Hello and thank you for this issue report. There have been several point releases in Prose since this issue was opened and there has not been much discussion here. I wanted to ask if you could please assist in confirming this is still an issue in the latest version of the product. If it is fixed, please close this issue :-)

Since this project is looking for new maintainers (#743), it will be help

[2015-02-03 20:44] fulldecent commented on #635
Hello and thank you for this issue report. There have been several point releases in Prose since this issue was opened and there has not been much discussion here. I wanted to ask if you could please assist in confirming this is still an issue in the latest version of the product. If it is fixed, please close this issue :-)

Also, if possible could you please

  * Find out if this only affects cer

[2015-02-03 20:44] fulldecent commented on #639
Hello and thank you for this issue report. There have been several point releases in Prose since this issue was opened and there has not been much discussion here. I wanted to ask if you could please assist in confirming this is still an issue in the latest version of the product. If it is fixed, please close this issue :-)

Also, if possible could you please

  * Find out if this only affects cer

[2015-02-03 20:45] fulldecent commented on #640
Hello and thank you for this issue report. There have been several point releases in Prose since this issue was opened and there has not been much discussion here. I wanted to ask if you could please assist in confirming this is still an issue in the latest version of the product. If it is fixed, please close this issue :-)

Since this project is looking for new maintainers (#743), it will be help

[2015-02-03 20:45] fulldecent commented on #644
Hello @anandthakker any update on this, or can you post the link for discussion?

[2015-02-03 20:45] fulldecent commented on #645
Hello and thank you for this issue report. There have been several point releases in Prose since this issue was opened and there has not been much discussion here. I wanted to ask if you could please assist in confirming this is still an issue in the latest version of the product. If it is fixed, please close this issue :-)

Also, if possible could you please

  * Find out if this only affects cer

[2015-02-03 20:46] fulldecent commented on #647
Hello and thank you for this issue report. There have been several point releases in Prose since this issue was opened and there has not been much discussion here. I wanted to ask if you could please assist in confirming this is still an issue in the latest version of the product. If it is fixed, please close this issue :-)

Also, if possible could you please

  * Find out if this only affects cer

[2015-02-03 20:46] fulldecent commented on #652
Hello and thank you for this issue report. There have been several point releases in Prose since this issue was opened and there has not been much discussion here. I wanted to ask if you could please assist in confirming this is still an issue in the latest version of the product. If it is fixed, please close this issue :-)

Also, if possible could you please

  * Find out if this only affects cer

[2015-02-03 20:46] fulldecent commented on #655
Hello and thank you for this issue report. There have been several point releases in Prose since this issue was opened and there has not been much discussion here. I wanted to ask if you could please assist in confirming this is still an issue in the latest version of the product. If it is fixed, please close this issue :-)

Also, if possible could you please

  * Find out if this only affects cer

[2015-02-03 20:46] fulldecent commented on #658
Hello and thank you for this issue report. There have been several point releases in Prose since this issue was opened and there has not been much discussion here. I wanted to ask if you could please assist in confirming this is still an issue in the latest version of the product. If it is fixed, please close this issue :-)

Also, if possible could you please

  * Find out if this only affects cer

[2015-02-03 20:48] fulldecent commented on #659
I vote against this feature, this could get confusing

[2015-02-03 20:48] fulldecent commented on #661
Hello and thank you for this issue report. There have been several point releases in Prose since this issue was opened and there has not been much discussion here. I wanted to ask if you could please assist in confirming this is still an issue in the latest version of the product. If it is fixed, please close this issue :-)

Also, if possible could you please

  * Find out if this only affects cer

[2015-02-03 20:48] fulldecent commented on #663
Hello and thank you for this issue report. There have been several point releases in Prose since this issue was opened and there has not been much discussion here. I wanted to ask if you could please assist in confirming this is still an issue in the latest version of the product. If it is fixed, please close this issue :-)

Since this project is looking for new maintainers (#743), it will be help

[2015-02-03 20:48] fulldecent commented on #664
Hello and thank you for this issue report. There have been several point releases in Prose since this issue was opened and there has not been much discussion here. I wanted to ask if you could please assist in confirming this is still an issue in the latest version of the product. If it is fixed, please close this issue :-)

Also, if possible could you please

  * Find out if this only affects cer

[2015-02-03 20:48] fulldecent commented on #667
Hello and thank you for this issue report. There have been several point releases in Prose since this issue was opened and there has not been much discussion here. I wanted to ask if you could please assist in confirming this is still an issue in the latest version of the product. If it is fixed, please close this issue :-)

Since this project is looking for new maintainers (#743), it will be help

[2015-02-03 20:50] #620 closed

[2015-02-03 20:50] fulldecent commented on #671
+1

[2015-02-03 20:51] fulldecent commented on #672
+1

[2015-02-03 20:52] fulldecent commented on #675
This seems like a very business-case specific requirement, recommending to close issue

[2015-02-03 20:53] fulldecent commented on #682
Hello and thank you for this issue report. There have been several point releases in Prose since this issue was opened and there has not been much discussion here. I wanted to ask if you could please assist in confirming this is still an issue in the latest version of the product. If it is fixed, please close this issue :-)

Also, if possible could you please

  * Find out if this only affects cer

[2015-02-03 20:53] fulldecent commented on #684
Is anybody interested to work on this?

[2015-02-03 20:54] #655 closed

[2015-02-03 20:55] fulldecent commented on #694
Hello and thank you for this issue report. There have been several point releases in Prose since this issue was opened and there has not been much discussion here. I wanted to ask if you could please assist in confirming this is still an issue in the latest version of the product. If it is fixed, please close this issue :-)

Also, if possible could you please

  * Find out if this only affects cer

[2015-02-03 20:55] ustroetz commented on #655
This is no longer an issue. Must have been fixed in one of the releases.

[2015-02-03 20:56] fulldecent commented on #700
Hello and thank you for this issue report. There have been several point releases in Prose since this issue was opened and there has not been much discussion here. I wanted to ask if you could please assist in confirming this is still an issue in the latest version of the product. If it is fixed, please close this issue :-)

Also, if possible could you please

  * Find out if this only affects cer

[2015-02-03 20:57] oblitum commented on #664
@fulldecent just tried out creating a new file [here](http://prose.io/#ccppbrasil/ccppbrasil.github.io) and there's still no option for setting a file name of a new page with the configuration I've provided in the issue.

[2015-02-03 20:57] fulldecent commented on #704
Jekyll 2.0 has landed. Recommending to close this generic issue and treat new items as they come up

[2015-02-03 20:59] fulldecent commented on #713
Is anyone inclined to work on this? Recommending to close this issue unless there is a potential chance of someone picking it up.

[2015-02-03 21:00] fulldecent commented on #715
Hello and thank you for this issue report. There have been several point releases in Prose since this issue was opened and there has not been much discussion here. I wanted to ask if you could please assist in confirming this is still an issue in the latest version of the product. If it is fixed, please close this issue :-)

Also, if possible could you please

  * Find out if this only affects cer

[2015-02-03 21:01] fulldecent commented on #717
Could you please post screenshots of this proposed change as running on laptops, tablets, and phones.

[2015-02-03 21:03] fulldecent commented on #719
Related: http://caniuse.com/#feat=clipboard

Could you please test which browsers currently support this feature? You could test by using Gmail.

[2015-02-03 21:03] fulldecent commented on #723
Hello and thank you for this issue report. There have been several point releases in Prose since this issue was opened and there has not been much discussion here. I wanted to ask if you could please assist in confirming this is still an issue in the latest version of the product. If it is fixed, please close this issue :-)

Also, if possible could you please

  * Find out if this only affects cer

[2015-02-03 21:04] fulldecent commented on #732
Hello and thank you for this issue report. There have been several point releases in Prose since this issue was opened and there has not been much discussion here. I wanted to ask if you could please assist in confirming this is still an issue in the latest version of the product. If it is fixed, please close this issue :-)

Also, if possible could you please

  * Find out if this only affects cer

[2015-02-03 21:10] oblitum commented on #664
@fulldecent

- tried in multiple browsers.
- test case is self evident from the issue.
- javascript error messages doesn't apply.

[2015-02-03 21:42] #682 closed

[2015-02-03 21:43] #647 closed

[2015-02-03 21:48] alexsalas commented on #682
Dont worry @fulldecent .

I have a big pull request, maybe tonight I'll send the changes.
To use Prose as Chrome App, Mozilla WebMaker, Mozilla Add-ons, and Desktop App.

[2015-02-04 00:43] bcomnes commented on #554
Still a problem.  OP has details.

[2015-02-04 00:43] #554 closed

[2015-02-04 09:40] ldodds commented on #694
I'm not longer employed by the company who had the original issue and so no longer have access to the repo causing the problem. On that basis I'm closing the issue.

[2015-02-04 09:40] #694 closed

[2015-02-04 10:34] anandthakker commented on #644
@fulldecent No real update yet, as I've been traveling--still planning on working on it once I'm back (March).

[2015-02-04 15:05] fkostadinov commented on #625
Actually, I think this idea is not so bad. I have myself written a simple database management system based on GitHub, Prose, Jekyll, Heroku and a few other tools. It has the following capabilities:

1. User can manipulate data through input forms
2. Only authorized and authenticated users can view or modify the data (relying on GitHub organizations and teams)
3. User can search data with a text se

[2015-02-04 15:38] brandonparsons commented on #126
Thank you for the update @anandthakker - I was sad for a minute there as I wanted to use this for an organization and your edit didn't show up in my email tracker :)

[2015-02-04 20:48] mikemorris opened #812 "GitHub organization permissions changes"
/cc @prose/contributors

[2015-02-05 07:42] enochappathurai commented on #803
The page doesn't seem to be rendering what is on index.html in this repository. That is, it does not show the code for making it a web app. Here is a screenshot of the code that I see
![image](https://cloud.githubusercontent.com/assets/10068043/6056457/40730f94-ad65-11e4-87bb-e79c8c7d9db6.jpg)
As you can see, the code that has been merged is not seen in the screenshot that I took today.

Hope you

[2015-02-05 12:33] fkostadinov commented on #812
We are running our own version of Prose (with some adaptations). Could you please specify more closely what changes will be necessary? Where does Prose actually access this list of user organizations?

[2015-02-05 14:21] mikemorris commented on #803
It likely hasn't been deployed to the gh-pages branch, I'd like to remove the distinction between master and gh-pages at some point so this stops happening and merged means deployed.

[2015-02-05 15:12] ndarville commented on #715
@fulldecent:

It’s been a while, but I believe I followed the same steps:

![screen shot 2015-02-05 at 16 04 36](https://cloud.githubusercontent.com/assets/198682/6062531/c5e87fca-ad50-11e4-8981-3bed5264a44f.png)

1. `+` It now displays fields instead of raw metadata.
2. `-` Judging by my config file, it seems some hidden fields like `id` are shown:

[code]

It’s been a really, really, really long

[2015-02-05 15:24] pyrog commented on #765
Adding the following lines to your `_config.yml` or `_prose.yml` fix this issue :smile:

[code]

Of course you could the folder of your choice.

[2015-02-05 15:26] pyrog commented on #574
Adding the following lines to your `_config.yml` or `_prose.yml` fix this issue :smile:

[code]

Of course you could the folder of your choice.

[2015-02-05 17:05] dereklieu commented on #803
@mikemorris on another project we've used codeship to deploy to gh-pages whenever we merge to master. Is this something we can set up with travis? (I see a travis.yml but haven't had much experience using it)

[2015-02-05 19:10] benedfit commented on #545
I never picked it up, so going to close, and let someone else take up the mantle

[2015-02-05 19:10] #545 closed

[2015-02-05 20:30] mikemorris commented on #803
I'd be inclined to just drop `master` altogether and merge directly into `gh-pages`.

[2015-02-05 23:44] aitorllj93 opened #813 "Packaged Versions (Apps)"
Hi, I recently discovered this nice tool. Havent' surfed throught the code yet, but there is something that I miss about it and where I could help you if you want

• Design
  A minimalistic Material Design responsive UI (thinking about something like Jotterpad or Journey for Android)

• Android & ios
  Improved web-app behaviour
  Compiled version if possible (Cordova)

• Desktop
  Chrome App

Wha

[2015-02-06 07:54] erlend-sh commented on #813
:+1:

Afaik the project is without direct leadership at the moment and is [looking for maintainers](https://github.com/prose/prose/issues/743). In other words, feel free ;)

[2015-02-06 17:28] mikemorris commented on #813
/cc @tristen for opinions on "material design" - I'm guessing you're referring to http://www.google.com/design/spec/material-design/introduction.html ? I'm not particularly seeing a significant benefit from revamping the UI at this time.

:+1: on web app improvements (@enochappathurai [cleaned up some stuff on iOS already](https://github.com/prose/prose/issues/803), we just need to deploy it)

:+1

[2015-02-06 17:42] tristen commented on #813
Yeah, I'm much more interested in talking about specific UI improvements. "Material design" doesn't really mean anything.

fyi There are much larger [mobile issues](https://github.com/prose/prose/issues/556) to discuss first.

[2015-02-06 20:41] JakeGinnivan commented on #719
It looks possible in chrome, ie and firefox and probably more.

http://ie.microsoft.com/testdrive/browser/Editing_Paste_Image
http://joelb.me/blog/2011/code-snippet-accessing-clipboard-images-with-javascript
http://www.vettyofficer.com/2012/11/how-to-paste-image-from-clipboard-using.html
http://codepen.io/netsi1964/pen/IoJbg
https://github.com/vladmalik/pasteimage

I tested the top link in IE11 an

[2015-02-07 20:21] orschiro commented on #723
@fulldecent

Thank you for bringing this back up onto the agenda!

This bug is still persisting. Steps to reproduce:

1. I tested the `Shift+PgDn` scroll with [this](http://prose.io/#orschiro/orschiro.github.io/edit/master/_posts/2014-03-03-Mendeley-Desktop-one-of-the-best-PDF-annotation-tools-on-Linux.md) file in my repository.
2. In both browsers, Firefox and Chromium, this keyboard shortcut is

[2015-02-07 20:23] orschiro commented on #277
I think this issue is fixed. Last time I created a new `md` document, I didn't specify any date, which was automatically inserted by Prose using the current date.

[2015-02-11 10:43] roll opened #814 "Hidden buttons (edit/trash/..) (Chrome, scale 150%)"
![1](https://cloud.githubusercontent.com/assets/557395/6145550/eed47108-b1f3-11e4-8e6a-5f6c65afad5e.png)

[2015-02-11 15:06] PabloReyes commented on #126
Hey, I just read this now.

That's looks awesome @anandthakker ! Thank you for the support.

I'll give it a try ;)

[2015-02-11 19:57] roll commented on #664
It's really a strange behaviour. As a header for any html file with front matter we see its path. When we change the path we really change a title. Next time we edit the file we see the path as header again and don't see the title at all (the metadata hides title). Setting the title in the metadata has no effect.

I think it will be a very helpful to have a raw editor for cases like this.

[2015-02-13 06:11] dhcole commented on #788
If I remember correctly, this was done because Jekyll would read a value like `lights: off` as `lights: false`, which was causing problems... I think I remember this being a Jekyll issue where it was not handling these according to the YAML spec. Possible that's changed by now.

[2015-02-13 06:25] dhcole commented on #788
Background here: https://github.com/nodeca/js-yaml/pull/79

This was a temporary hack to get around Jekyll not following YAML 1.2. Not sure if this has been updated in Jekyll yet.

[2015-02-15 09:00] azu commented on #659
:+1:
I think that this feature help Quick Pull Requests like https://github.com/blog/1945-quick-pull-requests .

[2015-02-16 17:06] mikemorris commented on #659
Agreed @azu

[2015-02-22 14:58] pdurbin opened #816 "GitHub OAuth scope public_repo allows broad access"
It looks like commit e646a45d3760a38bb1b8bf46ddd120bb3cd67e94 added the GitHub OAuth scope `public_repo` which seems to allow broad access to users' personal repos and (potentially) to repos of organizations they are members of.

The description of the `public_repo` scope at https://developer.github.com/v3/oauth/#scopes is "Grants read/write access to code, commit statuses, and deployment statuses

[2015-02-23 15:22] mikemorris commented on #816
This is actually narrower than the `repo` scope which was the only option before this change, and AFAIK this is the narrowest available scope that allows Prose to read and write to repositories.

[2015-02-23 15:22] #816 closed

[2015-02-23 16:46] rossmeissl opened #817 "Can't find documentation for pull-request-style workflow"
I see a pull-request-style workflow being referenced here and there, but I'm not sure how to hook into it. Is there documentation?

[2015-02-23 21:31] pdurbin commented on #816
See also [the comment](https://github.com/mozillascience/site/issues/11#issuecomment-75589627) by @arfon in reference to [a related blog post](http://crimsonfu.github.io/2015/02/22/owners-of-organizations-on-github-should-carefully-set-up-third-party-application-restrictions.html) I made yesterday. He talks about how scopes are limited but I still find the screenshot above terrifying. But whatever

[2015-03-03 16:28] mikemorris commented on #126
Closing this as it should be resolved by @dhcole's merged pull request. GitHub also recently rolled out [organization-approved applications](https://github.com/blog/1941-organization-approved-applications), allowing organization admins to restrict access to third-party applications to a specific whitelist.

[2015-03-03 16:28] #126 closed

[2015-03-05 17:02] dereklieu commented on #817
Hey @rossmeissl, you probably saw the bit about it in [contributing.md](https://github.com/prose/prose/blob/master/CONTRIBUTING.md#submitting-pull-requests).

The pull-request-style workflow here isn't that different from what you'll find in other projects - fork the project, create a feature or bug-fix branch off master, then create a pull request of that branch back into the master branch.

[2015-03-05 17:12] mikemorris commented on #817
I'm guessing this question is more about #540, #584 and #685 @dereklieu

[2015-03-05 17:18] dereklieu commented on #817
Whoops, my bad. Sorry for the mis-understanding @rossmeissl.

[2015-03-09 01:31] Naatan opened #819 "Allow for wider (responsive) editor"
On a large screen (1920) the editor is incredibly narrow. I tried simply setting the wrapping elements max-width to `1000` which alone made the experience feel a lot better.

It'd be nice if this could be handled more responsively, or even just make it flexible (min-width, max-width).

[2015-03-09 17:25] mikemorris commented on #819
https://github.com/prose/prose/issues/644 is another issue hypothesizing what a responsive wide-screen setup could include

[2015-03-09 19:08] daveas opened #820 "Reusing Prose.io as a customer CMS"
I offer one-off website designs for small businesses and individuals. I usually set them up with a github hosted static page (because that is all many people need) and I do this for a one time fee or with a recurring annual fee if they need to make their site's repo private (to cover costs).

I would like to host a version of prose at cms.my-domain.com and add some custom styling. I would not char

[2015-03-09 20:24] mikemorris commented on #820
Part of the reason we built Prose in the first place! :+1:

[2015-03-09 20:24] #820 closed

[2015-03-09 21:41] tristen commented on #820
To be clear Prose is [BSD](http://choosealicense.com/licenses/bsd-3-clause/) licensed meaning you are free to fork and use for commercial use.

[2015-03-09 21:44] Naatan commented on #819
That would also be very nice, but I'd still like a wider editor as well.

[2015-03-10 00:05] daveas commented on #820
Fantastic. Many thanks for creating this!

[2015-03-15 18:27] md5 commented on #126
@mikemorris Do you mind if I ask how #815 resolves this?

I understand that the organization-approved applications feature can be used to mitigate the issue, but I don't think it really resolves it.

In my case, I have access to nearly a dozen Github organizations owned by my employer's clients, most of whom have primarily private repositories. We have recommended using the organization-approved a

[2015-03-15 19:00] md5 commented on #126
I'll also just add that turning on the organization-approved application feature has consequences that need to be dealt with in an orderly fashion:

[2015-03-16 16:25] mikemorris commented on #126
@md5 #815 is completely unrelated to organization-approved applications. At initial authorization, it should prompt the user with a dropdown to select either public and private repo access (using the `repo` scope), or just public repo access (using the `public_repo` scope). https://developer.github.com/v3/oauth/#scopes

[2015-03-16 16:47] md5 commented on #126
@mikemorris Thanks for taking the time to clarify! :metal:

[2015-03-19 21:47] crawfordcomeaux commented on #559
I've have an idea for the UX here:

- Add a keyboard icon below the save icon (right below or maybe closer to where the "Authorize Github" button appears?); onhover: "Keyboard Shortcuts (Ctrl-K or best cross-platform combo)"

- Modal opens when "Keyboard Shortcuts" is clicked or its shortcut is typed

  - List of selectable preset configs, such as Github, vim, emacs, etc.
    - with default keyboa

[2015-03-19 21:56] crawfordcomeaux commented on #559
My username on Nitrous.io is crawford if anyone wants to invite. Leave yours if you want me to invite. (Is there really not an easier way to pair like this?)

[2015-03-19 21:59] dereklieu commented on #559
@crawfordcomeaux cool, don't have time right now to pair with you but interested in what you come up with!

[2015-03-20 19:02] crawfordcomeaux commented on #559
After spending way too long trying to figure out how the icons are used, I realized that it's with an icon font. Would love guidance on how to create a keyboard one.

Also, I'm rusty on my node.js & am not sure where to begin when it comes to adding the buttons. I may have been too tired last night to look in the right place and will look again, but...any guidance?

[2015-03-24 03:14] aharris88 opened #821 "Media path for uploading"
I have media set to "assets/uploads" in my [`_config.yml`](https://github.com/becbec1/becbec1.github.io/blob/1960e444932ac8abc59dc1c9d3921e5cd542a893/_config.yml) like so:

    prose:
      rooturl: "_posts"
      media: "assets/uploads"

And it shows those correctly on the right side of the media upload dialog, but when I go to upload, it still sets the page to "_posts" by default.

![screen shot

[2015-03-24 18:32] matmuchrapna opened #822 "Project death"
Is project dead?

[2015-03-24 18:42] mikemorris commented on #822
Nope. See https://github.com/prose/prose/issues/743

[2015-03-24 18:42] #822 closed

[2015-03-24 19:59] crawfordcomeaux commented on #743
Any thoughts on setting Prose up as an [Assembly.com side project](http://sideprojects.assembly.com/)?

[2015-03-24 20:02] pksunkara commented on #743
I am willing to maintain this if this gets put on [Assembly.com](sideprojects.assembly.com)

[2015-03-24 20:03] awwstn commented on #743
Member of the Assembly core team here – I'm happy to answer questions about what it means to put something like this on Assembly. (austin@assembly.com)

[2015-03-24 20:13] mikemorris commented on #743
Not interested in monetizing. Handing over the rights to monetize Prose to an organization with that intent is definitely not going to happen, sorry @crawfordcomeaux @pksunkara @awwstn.

[2015-03-24 20:48] crawfordcomeaux commented on #743
Assembly doesn't require projects to monetize, though you do want to make sure that's explicitly stated so that people don't join the project with the idea that it will be monetized in the future. I think if you maintain control of the project on Assembly as the sort of BDFL, then you can easily make sure that'll continue being the case.

[2015-03-25 09:25] erlend-sh commented on #743
So @awwstn what could being on Assembly (Sideprojects) do for a project like Prose? After some quick reading I fail to see what it is Assembly actually offers developers that simply being on GitHub doesn't do already, at least when money & equity is not involved.

[2015-03-26 14:40] gedw99 commented on #706
Ok I should have time tonight to check it.

I dont think I am a great maintainer. I work in Java / Scala mostly.

I actually considered making a fork and adapting prose the be Java pipeline based and fully reactive architecture.

If you, anyone is interested in that I could help out then

[2015-03-27 20:56] aaronfranco opened #823 "Edit Repository Wiki"
Hi,

Great editor, thanks for creating it!

Would it be possible to connect a repository's Wiki files to Prose? If so, where would be the file to edit. I think the Wiki repository is just the same as the repo's main URL except with a .wiki.git instead of .git at the end.

[2015-03-31 21:47] jfrankl commented on #821
Running into the same issue. Dragging and dropping the image into the editor seems to set the url to the media setting. Selecting and inserting sets the url to the current directory.

[2015-03-31 22:05] aharris88 commented on #821
Thanks, I'll try dragging as a work around for now. But this should be marked as a bug.

[2015-03-31 22:17] jfrankl commented on #821
Dragging results in the other bug I experience, which is that the editor locks up. I can drop more items in, but I can't click into the text field to type more.

[2015-03-31 22:59] jfrankl commented on #821
I just (https://github.com/prose/prose/blob/master/CONTRIBUTING.md#user-content-building--installing)[installed prose locally] and couldn't reproduce this bug on my local build.

[2015-03-31 23:00] jfrankl commented on #821
I just [installed prose locally](https://github.com/prose/prose/blob/master/CONTRIBUTING.md#user-content-building--installing) and couldn't reproduce this bug on my local build.

[2015-03-31 23:54] aharris88 commented on #821
Same here. I don't see the bug when I run locally. I wonder what's up with that.

[2015-04-04 08:24] kerim commented on #781
I was just looking for such documentation and couldn't find it either. I thought it might help explain why the "preview" link doesn't work for me ever since I entered my "siteurl" in the config file. I'm using CNAME files, for a project page and this has caused me no end of problems when trying to use relative links in Jekyll. In most cases I have had to hard-code my URL into the theme files. I wa

[2015-04-04 08:29] kerim commented on #169
Sorry to see that this is closed. Hope someone can re-open it or suggest another solution.

[2015-04-04 08:37] kerim commented on #781
It never hurts to try. I was able to (partially) fix my broken preview by entering the following values:

`prose:
  siteurl: 'http://keywords.oxus.net'
  site: 'http://kerim.github.io/keywords'`

I say "partially" because the sidebar shows up without the content (site title, description, etc.) but at least the colors and layout are correct and I can see the preview. Before I entered the "site" val

[2015-04-04 09:03] kerim commented on #781
I seem to be able to fix preview simply by reloading the page before clicking preview?

[2015-04-06 04:15] purldator commented on #713
I too would like to see this feature.  Only alternative is to give in to Penflip, which isn't open source but [does use the same exact stack of GitLab and Prose](http://booktree.github.io/alternatives/).  Enabling Prose to make use of GitLab API functionality would enable anyone to create their own private Penflip instances in the cloud.  That would open the door to a lot of exciting prospects suc

[2015-04-06 08:02] cirosantilli commented on #713
@purldator Penflip is built on GitLab https://twitter.com/madebyloren/status/468917323588698112 and so is O'Reilly Atlas https://atlas.oreilly.com/ , another closed source one, so I don't think it makes much difference. I started considering such a project at: https://github.com/booktree/booktree

[2015-04-06 09:15] purldator commented on #713
@cirosantilli Yes, that is where my first link leads from.  Booktree looks like a good alternative but for my uses I am not looking to publish in that measure.

The difference is Prose allows non-developers to interface with git (Via GitLab).  I've already tried to get a non-developer to use GitLab alone.  They refused as it was 'too complicated'.  Prose would mitigate that hard negative response.

[2015-04-06 09:18] cirosantilli commented on #713
@purldator

That is exactly my goal: paste a prose or something else in front of gitlab to make it easier on newbs :) Let me know if you have new results.

[2015-04-06 15:37] mikemorris commented on #713
Looping in @aguynamedloren as he has [previously expressed interest in contributing back to Prose](https://github.com/prose/prose/issues/743#issuecomment-54594863). If Penflip already has a working GitLab backend, a pull request adding a [pluggable backend structure](https://github.com/prose/prose/issues/713#issuecomment-46985015) with GitHub and GitLab support could be a great contribution.

[2015-04-06 16:34] mikemorris commented on #781
IIRC this is a setting in GitHub, not in Prose.

1. Click the `Edit` link.

![screen shot 2015-04-06 at 12 29 28 pm](https://cloud.githubusercontent.com/assets/1149913/7007563/0d20a23c-dc59-11e4-8b69-2d99a704c6b1.png)

2. Edit the `Website` field and click `Save`.

![screen shot 2015-04-06 at 12 29 47 pm](https://cloud.githubusercontent.com/assets/1149913/7007564/0e5a3f46-dc59-11e4-9982-332e6a323f

[2015-04-08 16:57] Scotchester commented on #644
:+1: to this suggestion!

[2015-04-08 20:17] rog1039 commented on #819
I'd prefer this worked on first with the side-by-side preview a close second.

[2015-04-13 16:11] Greg-Boggs commented on #582
This still happens, so I assume it is not fixed by #686.

[2015-04-13 17:28] Koxzi95 commented on #786
Markdown tables also tend to be messy. I assume most people use Prose to edit GFM files where a table looks quite [strange](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#tables). I'm not too sure how tables are represented in other markdown formats but would this mean a 'universal' workaround would have to be implemented.

[2015-04-16 08:26] Anoesj commented on #790
Same issue in Safari 8.0.4 (10600.4.10.7)

[2015-04-17 13:32] ianschuler opened #825 "Set up https for hosted prose.io"
@dereklieu @smit1678 @anandthakker

[2015-04-17 13:41] mikemorris commented on #825
:+1:

[2015-04-18 00:22] stuarthannig commented on #821
Image uploads are still broken.

[2015-04-19 20:04] paulhayes commented on #131
Strangely I'm not able to do this, even though this was closed years ago. I'm trying to see a private repo I transfered to my organisation and it's no longer visible either
http://prose.io/#my-user
or
http://prose.io/#my-org

[2015-04-19 20:45] paulhayes opened #826 "New organisations don't appear"
After already using prose, and granting access to my account, I created an organisation this stubonly refused to show in prose, and even after manual putting http://prose.io/#org-name I still couldn't see the private repo I had access to. It wasn't until I revoked prose access and regranted it, that I was able to see the repo.

[2015-04-20 09:01] paulhayes commented on #766
Would love to see this fixed!

[2015-04-20 10:25] mikemorris commented on #826
Possible that this is an limitation of GitHub's auth scopes, where an access token only gets scoped to the organizations associated with the user at creation time.

[2015-04-20 18:30] paulhayes commented on #826
right, thanks for the fast response. I'm glad it wasn't a show stopper for
me. My main concern with prose at the moment is the very buggy metadata
support.

On 20 April 2015 at 11:25, Mike Morris <notifications@github.com> wrote:

[2015-04-21 03:39] Buzzlightyear90 opened #827 "image does not upload"
I am having a problem uploading images into the webpage and nothing is working. The entire page turns light grey and it is unresponsive. I have to resfresh the page everytime I want to upload the image and nothing else is added in the images folder. Even if I click upload, the page refreshes back to the homepage and the new image was never added into the images folder

[2015-04-22 13:56] gignar commented on #790
Same issue on Chrome 42 OS X Yosemite

[2015-04-23 01:14] Buzzlightyear90 commented on #827
I am still having problems with this image uploader

[2015-04-25 04:37] Buzzlightyear90 commented on #827
oh forget it, i'll solve it myself

[2015-04-25 04:37] #827 closed

[2015-04-25 12:59] Koxzi95 commented on #743
I'm all for helping even if it just means testing pull requests and sorting out issues.

It's sad to see it so dead currently.

[2015-04-25 14:09] Koxzi95 commented on #827
Sadly nobody who is a collaborator is answering anything. https://github.com/prose/prose/issues/743

[2015-04-27 08:29] gignar opened #828 "Image upload on mobile"
I feel like I'm missing something obvious, but how are you supposed to upload images on mobile? The only references to image uploading I can find all specify drag-n-drop into the editor, which obviously isn't possible on a phone.

[2015-04-27 12:08] Koxzi95 commented on #828
It doesn't look like you can. I don't think prose was really built with mobile editing in mind. Considering there's no toolbar.

[2015-04-29 16:22] JayAtCornwallCollege opened #830 "Can you improve prose to allow editing jekyll data yaml files"
i.e. when creating a new file it does not default to a .md extension and does not provide the editor.  I am happy to still configure yaml with _prose.yml

the problem is I need to process the _data folder in jekyll but prose does not easily handle these files

many thanks

[2015-04-30 16:39] holic commented on #821
Ran into this issue as well. Tried to reproduce locally, but it works as expected.

[2015-05-01 13:26] JayAtCornwallCollege opened #832 "Can you add a format for date-time"
when specifying date as yyyy-mm-dd and reload you get a longer date rendered with zero time.  As date form should resolve this.

[2015-05-01 18:31] dereklieu commented on #789
Thanks @mvanduijker

[2015-05-01 18:31] #789 closed

[2015-05-05 09:14] baasdesign opened #833 "Help wanted: uploading media from meta data editor"
I'm building a Jekyll theme and I've hooked Prose.io up to it and it works great!
But, I've got a question. I have an array in the front-matter of a post, like this:

[code]

I loop trough this array to create a list of images. Here is the post: http://baasdesign.github.io/jekyll/projects/arthur-xiv/

But now comes the tricky part. How do I upload images in Prose.io in the meta editor and add then

[2015-05-10 00:54] phillipadsmith commented on #743
@parkr Ping. Lots of issues & PRs that need attention. Is there a path to a resolution so that this project can get moving again?

[2015-05-10 03:20] tristen commented on #743
If you're you submit a pull request that looks reasonable I'm happy to add
you as a collaborator.

On Sat, 9 May 2015 8:54 pm Phillip Smith <notifications@github.com> wrote:

[2015-05-10 19:18] phillipadsmith commented on #743
you as a collaborator.

@tristen Fair enough.

Can one assume that the PRs that are there already are being reviewed? I think that's what is the general concern, i.e., that someone is reviewing issues and PR as they come in.

[2015-05-11 15:54] mikemorris commented on #743
I've been commenting occasionally to provide general guidance/feedback but haven't really done any technical review or testing of most outstanding pull requests @phillipadsmith.

[2015-05-12 00:30] aioue commented on #126
I just tried prose and was asked for access to private repos or nothing. Am I missing something?

[2015-05-13 16:57] dereklieu opened #834 "Better source maps"
Debugging can be a pain because my console logs often don't point to the right line of code. Enable source maps.

[2015-05-13 21:12] #277 closed

[2015-05-13 21:14] dereklieu commented on #277
#831 allows you to set `date: CURRENT_DATETIME` to get the current date.

You can also do something like:

[code]

[2015-05-13 21:28] joewiz commented on #277
Wonderful!  Thanks very much for this!

[2015-05-13 21:38] dereklieu opened #835 "Automatic Deployment"
@mikemorris @tristen have you already discussed automatic deployment in the past? Personally I think it'd be nice to set up travis to push to gh-pages when a commit goes to master.

@prose/contributors I also think we should take another look at #434, setting up a dev version of prose.io for public testing before deploying major changes.

[2015-05-13 21:39] anandthakker commented on #835
:+1: to both points, @dereklieu

On Wed, May 13, 2015 at 5:38 PM Derek Lieu <notifications@github.com> wrote:

[2015-05-13 21:44] mikemorris commented on #835
Yes plz to automatic deployment, we should really just switch gh-pages to be the defaut branch and kill off master though.

Some sort of staging env would be nice for testing major changes, but most of the ideas in #434 seem overly complex for the benefit they would provide.

[2015-05-13 22:09] ndarville commented on #277
@dereklieu What am I doing wrong, if I just get a date field with the `CURRENT_DATETIME` string in it instead of the date?

[2015-05-13 22:13] dereklieu commented on #835
@mikemorris can you think of any blockers to just making that switch now? We should clear the pull request queue, but is there anything else?

[2015-05-13 22:15] dereklieu commented on #277
@ndarville If you're using prose.io then these changes haven't been deployed yet. We're discussing automatic deployment in #835. I will look into a manual deployment in the meantime.

[2015-05-13 22:22] mikemorris commented on #835
Nope, just update [CONTRIBUTING.md](https://github.com/prose/prose/blob/master/CONTRIBUTING.md#submitting-pull-requests)

[2015-05-13 22:23] ndarville commented on #277
@dereklieu Ah, I see.

[2015-05-13 22:24] parkr commented on #835
Niiiice.

[2015-05-13 22:33] dereklieu commented on #699
After visiting this site again with the newest deployment, I no longer get the dozens of alert messages I used to. Marking this as fixed.

[2015-05-13 22:33] #699 closed

[2015-05-14 07:46] orschiro commented on #277
@dereklieu This is fantastic. Thanks very much for your efforts!

[2015-05-14 15:47] millerpils opened #836 "Adding new file boots me out?"
Hi folks,

When I add a new post using Prose and go to commit, it sends me back to the first screen after login with no errors and does not add the file. I've tried logging out/in freshly but it's still the same. Editing files works a treat.

In addition, adding meta data such as the block below seems to lock out any further changes being committed?

[code]

Note that I don't have an configuration

[2015-05-14 18:12] dereklieu commented on #836
Hi @millerpils

Thanks for reporting. There are a few known issues around using the raw metadata editor, such as #623. I and a few others are working on a fix, but it's not completed at the moment.

About adding a new post: if you don't use the metadata editor while creating a new post, does it still kick you out? Or does it allow you to create a new post so long as you don't touch that metadata e

[2015-05-15 08:19] millerpils commented on #836
Hi, thanks for getting back to me.

It posts a new one no problem with no meta. Unfortunately for us, we need the meta to drive the titles and menu system.

As an aside, I've noticed that when editing and saving an established post, it wraps ``modal-id:`` in quotes. It doesn't cause any harm but thought I'd mention it.

[2015-05-15 23:05] anandthakker commented on #834
Some of [these gulp recipes](https://github.com/gulpjs/gulp/tree/master/docs/recipes) have functional source maps + browserify setups

[2015-05-16 13:52] dipanjanS opened #837 "Prose preview not working properly anymore"
The preview is not rendering HTML content properly like before and also some markdown elements like blockquotes ( > ) also doesn't render properly. It still shows the > character for me in the preview and I can't see the blockquote like it should actually look like.

[2015-05-19 20:54] dereklieu commented on #836
Yup, so this looks like it's caused by pre-existing metadata issues. Sorry I can't tell you it's fixed now, but hopefully I can tell you it's fixed very soon.

Can you explain more about `modal-id`? Is that an element in your meta data?

[2015-05-20 08:29] millerpils commented on #836
Cool. Modal-id is a bit of meta data we use as a URL hash for the menu.

[2015-05-21 10:48] mhdomo opened #839 "Error trying to upload image"
Dragging and dropping an image into a markdown file triggers an error. Using "Insert Image" in the toolbar, gives the same error.

Chrome: `Uncaught TypeError: Cannot read property 'media' of undefined`
Firefox: `TypeError: this.config is undefined`

[2015-05-21 16:30] dereklieu commented on #839
@mhdomo yeah there are a couple of open tickets in this repo relating to uploading images. I haven't yet had a chance to look into this issue myself. If you've got time and the know-how, prose is looking for contributors to address this issue and others :+1:

[2015-05-22 10:32] mhdomo commented on #839
I solved it by adding `prose`-configuration to Jekylls `_config.yml`.

[2015-05-22 10:32] #839 closed

[2015-05-26 13:25] Knightoffaith commented on #837
I was wondering if prose was supposed to be able to do this. I would like to be able to edit sites not generated from the default prose template with prose.io, but my entire point of doing that would be that I could actually see what it would look like.

[2015-06-01 23:25] mushishi78 opened #840 "Select input allow nil and alterable"
Great project!

I just wanted to make two small feature requests for the future. I know that you've got a lot of issues and you're looking for new maintainers, so I don't expect anyone to get round to it soonish, but I thought I'd put in on the board nonetheless.

Firstly, it would be nice to have a allow-nil option on the select input, so that unless an option is explicitly selected, it wouldn't

[2015-06-02 06:09] bburky opened #841 "Branches containing slashes cannot be viewed"
I noticed that #699 was closed and was verifying that it was fixed. (Which it is. Great!)

An unrelated bug is if a git branch contains a slash, you can't switch to it in Prose. To test this I added a branch "a/b" to my xss repo:
http://prose.io/#bburky/xss/tree/a/b

Trying to view this branch in prose produces a 404.

The default branch of that repo actually contains a slash too, but loads succes

[2015-06-02 15:25] mikemorris commented on #841
Hah, I'm definitely guessing the URL parsing is off here, this would be a perfect spot for a unit test to replicate the failure and then patch to fix it.

[2015-06-02 16:00] dereklieu commented on #841
Yup! We've confirmed this using Prose internally as well. Now that you've reminded me, gonna try to find some time to write a fix this week.

Btw, thanks @bburky for pointing us to #699 in the first place.

[2015-06-10 16:24] webmaven commented on #786
Just as an example of a file where the main content is already in a table, take a look at https://github.com/webmaven/python-parsing-tools

Prose.io renders this quite oddly. Aside from that, It would be useful to me to have a few context-sensitive options such as 'insert new row'.

[2015-06-11 19:40] acao commented on #833
The way I have gotten around this is by uploading the images using the content editor dialog, removing the generated markdown placed in the editor, and then using the filename provided by that upload. Make sure that whatever your filenames are prefixed with is going to the media/ or whichever folder you have configured for prose to upload to using this dialog.

This is definately a cludgey workaro

[2015-06-17 14:33] daveas commented on #743
@parkr & others - has anyone considered transferring the ownership of Prose to Jekyllrb? Is there another CMS-like solution that has more steam than prose?

[2015-06-17 15:19] mushishi78 opened #842 "Baseurl in Image path"
As of [this PR](https://github.com/prose/prose/pull/779), all images are preceeded with `{{site.baseurl}}/`. However, I'm hosting my images on a cdn, so when I put in the full URL, I get `![]({{site.baseurl}}/http://my-image.com)`.

Personally I think that having liquid tags inside a markdown tag is confusing for my client, and it's a pretty big assumption that all images are being hosted on site.

[2015-06-19 00:39] tmfrnz commented on #582
Still textarea fields are set to null, forcing the user to re-enter all textarea entries on any change

[2015-06-25 15:09] kkaefer commented on #825
:+1:

[2015-06-26 18:42] bfaguy commented on #248
I'm having same issue as @tjohns. were you able to figure it out?
Internally, we use redcarpet with the footnotes option.  Just to understand how prose.io works, do we need to configure any setting? Or is the footnote option on by default?

[2015-06-30 03:34] dereklieu commented on #248
@bfaguy Hey, happy to look into this if you could post some code blocks that aren't producing the desired results. Thanks!

[2015-07-03 07:50] philwareham opened #848 "Textile support"
I know it's been brought up before, but are there plans to support Textile format beyond simple editing of the files. i.e., option to create new documents in Textile and possibly a basic WYSIWYG?

[2015-07-04 19:43] agarrharr opened #849 "Can't Upload Image"
I can't upload an image. Whenever I try, it takes me back to the main page (http://prose.io/#username) and there is an error in the console:

[code]

I've tried running it locally and on prose.io

I've also tried using the file picker and dragging and dropping

[2015-07-08 18:17] SchnWalter commented on #849
Are you sure this is still the case? Could you please check with the latest code.  I've created a PR exactly for this issue, see #846.

[2015-07-08 22:28] aharris88 commented on #849
I am not able to upload an image when I don't have a `_config.yml` file, but I just created one and added this to it:

    prose:
      media: "img"

And then I was able to upload an image.

I thought that the default behavior would be that it would upload the image in the current directory of the file that I'm editing.

I also tried uploading an image with an empty _config.yml file, and it had th

[2015-07-08 22:41] SchnWalter commented on #849
At first I also was under the impression that by default you will upload in the current directory, and that you could provide an absolute path or a relative path.  That is why I also suggested a change of the description for that widget in #850

[2015-07-15 21:58] rlshepard opened #851 "Error while loading data from GitHub"
I'm continuously getting this error as I try to update my site. Please advise. Thanks!

-Ryan

[2015-07-15 23:39] dereklieu commented on #851
@rishepard What error are you getting, and what are the steps you take to re-create the error?

[2015-07-20 01:50] macu opened #852 "Add Kramdown support"
Jekyll is now configured to use Kramdown by default. Consider checking _config.yaml for the `markdown:` value and render previews using an appropriate library. (I noticed definitions lists aren't yet rendered in the prose.io preview.) Well done so far!

[2015-07-21 13:23] sgregson commented on #836
is there an alternate workflow for adding YAML frontmatter within prose.io? Adding it into the post body appears to create multiple blocks as below. Alternatively, is there opposition to a "Is Alpha" tooltip on the raw metadata editor?

Output from inlining frontmatter in the post body:
[code]

[2015-07-27 08:29] ChrisChinchilla commented on #743
@parkr

I got shown prose by someone here in Berlin and loved the idea, it fits into a lot of the work I am currently undertaking.

I'd be happy to have a chat about maintaining and see if I have the skills to do so.

[2015-07-27 15:10] dereklieu commented on #743
@ChrisChinchilla that's awesome. I'm sending you a note over email using the address in your handle. Would love to help you get up to speed anyway I can.

[2015-07-29 07:15] phillipadsmith commented on #743
@dereklieu @ChrisChinchilla I'm also interested in lending a hand.

[2015-07-29 08:45] ChrisChinchilla commented on #743
Great @philipadsmith we're trying to arrange a catch up time, will keep you updated

[2015-07-31 00:55] Ivan0xFF commented on #667
This is still an issue, and this feature would be greatly appreciated.

[2015-07-31 03:06] willmedtrainingsolutionscom opened #853 "Error when saving: Invalid Request SHA"
Please let me know what to do with this error:

![error](https://cloud.githubusercontent.com/assets/7152182/9000001/9d392036-370f-11e5-9aab-c39c24facff3.png)

Also, @ project team, please unblock my other account @fulldecent

[2015-07-31 14:20] tomsabin opened #854 "Unpublished/published toggle (in toolbar) does not update frontmatter"
Toggling between unpublished and published in the toolbar does not update the frontmatter data. When you click on the commit button and see a preview of your changes, nothing has been changed.

I have tried to trace through where this is caused and can see that the [`togglePublishing`](https://github.com/prose/prose/blob/master/app/views/toolbar.js#L311:L364) function works as expected (flipping t

[2015-07-31 14:52] tomsabin commented on #854
I've dived down and found out why this is happening. The toolbar metadata is being set before the config (https://github.com/prose/prose/blob/master/app/views/metadata.js#L272:L278, lines 279:322 set the meta data from the config file.

So for an unpublished post:

1. Toggling the button to publish from the button sets the value to `true`
2. `metadataEditor.getValue()` sets this back to `false` be

[2015-07-31 14:52] #854 closed

[2015-08-01 13:37] WhitneyLand opened #855 "Could this be helpful? - CMS Hints"
To let non-technical people edit a site, something like http://prose.io is helpful.  Is there any interest in the following type of enhancements?

Content Regions

Static site builders could allow named content regions to be marked as editable (maybe with special comments?). So you could have a region called "headline". Then external tools could be used by prose for simple CMS functionality.  For

[2015-08-02 21:20] phillipadsmith opened #856 "Test failures"
Howdy,

I've got Prose running locally so that I can try to help out a bit.

When I run the existing tests in Chrome (44.0.2403.107), I am getting three test failures:

![prose-test-failures-aug-2-15](https://cloud.githubusercontent.com/assets/34128/9028073/7deab096-3921-11e5-9962-c7f08894830b.png)

Before I dig in further, I'm wondering if these failures are known and already being investigated?

[2015-08-02 21:23] phillipadsmith commented on #856
CC @dereklieu

[2015-08-03 14:11] tomsabin commented on #565
@fulldecent I believe this is still an issue:

After pressing "new file" (i.e. an uncommitted post) the button is not visible. The markup in the [toolbar.html](https://github.com/prose/prose/blob/master/templates/toolbar.html#L6:L16) view doesn't seem to be rendering on the page.

This works as intended

I believe this is the case as the view doesn't get updated between actions (e.g. previewing),

[2015-08-03 14:16] tomsabin commented on #856
@phillipadsmith I get the same two failures for "Metadata editor view" but not for `includeTag`.

![screen shot 2015-08-03 at 15 15 16](https://cloud.githubusercontent.com/assets/885223/9039322/85c4fdfe-39f2-11e5-9578-bceaf7882eaf.png)

[2015-08-03 15:56] dereklieu commented on #856
@phillipadsmith The two metadata tests are my responsibility, they show failing functionality that I haven't had time to write a patch for yet. I'm also not coming across the liquid tag issue.

[2015-08-03 17:02] phillipadsmith commented on #856
Makes total sense. Is there an easy way to mark those tests as TODO @dereklieu ?

Very odd. I'll dig a little bit... but obviously low priority if it's just happening for me.

Thanks @tomsabin @dereklieu! :+1:

Phillip.

[2015-08-03 17:03] dereklieu commented on #856
@phillipadsmith that would be a good idea, to mark todo tests. Let me know if you come up with anything on the liquid tags issue.

[2015-08-03 17:05] phillipadsmith commented on #856
@dereklieu Can you assign this issue to me?

[2015-08-03 17:08] phillipadsmith commented on #855
@WhitneyLand They both sound interesting.  :)

What are you proposing specifically?

Phillip.

[2015-08-03 17:13] phillipadsmith commented on #853
@willmedtrainingsolutionscom Can you provide some more details on what's happening per the [contribution guidelines](https://github.com/prose/prose/blob/master/CONTRIBUTING.md) ?

Does this happen if you log out of Prose, then log back in?

Phillip.

[2015-08-03 17:14] phillipadsmith commented on #852
@dereklieu Can you mark this as an enhancement?

[2015-08-03 17:17] phillipadsmith commented on #848
Cross-reference: https://github.com/prose/prose/issues/11

[2015-08-03 17:27] phillipadsmith commented on #842
@mushishi78 Confirmed. That's a super-odd behaviour.

@dereklieu Can you assign this to me?

[2015-08-03 18:17] dereklieu commented on #851
@rlshepard pinging you one more time. Will close if I don't hear back.

[2015-08-03 18:27] timbur commented on #713
Any progress made on this?

[2015-08-03 22:31] jdsimcoe opened #857 "How to handle nested YAML"
I have a YAML setting that is nested. How would I represent this in Prose `_config.yml`. Here is my YAML config in my content files:

[code]

[2015-08-03 22:44] dereklieu commented on #857
Hey @jdsimcoe, I don't think Prose supports groupings or sub-categories for metadata. The only way I can think of would be:

[code]

You could also try the raw metadata editor, although currently it's a little buggy.

[2015-08-03 23:26] kennethormandy opened #858 "Interest in figure captions or simple media gallery?"
Hey, I’ve been adding some stuff to the media editor in Prose. I was wondering if anyone would be interested having a pull request for these features?

<img width="1372" alt="screenshot 2015-08-03 16 12 36" src="https://cloud.githubusercontent.com/assets/1581276/9049786/e1366404-39fa-11e5-93eb-409c5c24ca8c.png">

### Figure Captions

One the left, there are some new fields. These allow someone to

[2015-08-04 02:49] dereklieu commented on #858
Hey @kennethormandy, this looks really cool. If you have the time to generalize it, I'd love to see the code.

cc @mikemorris @tristen @anandthakker for your thoughts as well.

[2015-08-04 03:44] anandthakker commented on #858
Woah, nice @kennethormandy -- would definitely be interested in a PR for this stuff.  One thought that occurs to me: custom fields for the figcaption might be hard to pull off in a generalizable way, but what about making it a markdown or HTML field?

[2015-08-04 03:48] tristen commented on #858
@kennethormandy awesome stuff! a couple thoughts:

1.  Choose existing is a great feature to have and would welcome this addition.
2. The output of image insertion should be as markup biased as possible and I'd be wary of any HTML insertion.
3. Caption + Design/Image credit is moreover a little specific and it's easy enough to add something like this in after image insertion.

[2015-08-04 04:02] dereklieu commented on #854
Hey @tomsabin, a little late to the party but thanks for debugging this. It sounds like the toolbar should work as expected unless you include a metadata field under published?

If that's the case, there should be some documentation on this at the least, and preferably a fix that respects the toggle in the toolbar.

[2015-08-04 04:53] kennethormandy commented on #858
Thanks for the quick feedback!

When I get a chance, I will do a proper pull request for the image previews, then. I might try some other layouts for the image chooser first, do you think there’s any reason why the filename is necessary? Or is that to accommodate inserting things besides media, too? I feel like something like this would do the job:

<img width="1372" alt="screenshot 2015-08-03 21

[2015-08-04 05:11] phillipadsmith commented on #858
You might want to consider eliminating the "insert image" UI -- because, as far as I've experienced, image uploaded is not yet supported on mobile devices.

That might also provide more room for selecting a previous image.

[2015-08-04 13:04] tristen commented on #858
That was was the intent yeah, but a grid layout of image previews would be much cleaner and we can probably get away with adding it as a `title` attribute?

[2015-08-04 17:45] jdsimcoe commented on #857
Ok @dereklieu I changed things around but now Prose isn't identify the metadata to link in my Markdown files.

Here is `YAML` code in my `about.md` file:

[code]

Here is my `_config.yml` Prose section:

[code]

Do you know why the metadata editor wouldn't be showing up?

[2015-08-04 19:49] dereklieu opened #859 "Metadata button element throws error"
The button metadata element is meant to act as a toggle between two states.

Including the button in prose configuration however just breaks the metadata viewer and causes the loading indicator to never go away as soon as you enter a file to edit.

The [button template](https://github.com/prose/prose/blob/master/templates/meta/button.html#L5) expects a `value` key/pair, but this is never handled i

[2015-08-04 19:57] dereklieu commented on #857
@jdsimcoe I just documented a bug with the button element in #859, which you're using for your sitemap_exclude field. If you try to remove that field, or use a checkbox instead, are you able to see the metadata editor?

Also, if `about.md` is not in `source` or a child directory of `source` then the metadata elements wouldn't show up.

[2015-08-04 20:16] jdsimcoe commented on #857
When I changed from a button to a checkbox it works perfectly.

[2015-08-04 20:27] #857 closed

[2015-08-04 21:11] willmedtrainingsolutionscom commented on #853
Logging and and then in fixed the problem. Sorry, I should have tried this first! I do also realize that some of the meta data was missing the first time this was submitted, but not sure if that is related to the error. Closing now.

[2015-08-04 21:11] #853 closed

[2015-08-05 04:54] phillipadsmith commented on #853
:+1:

[2015-08-05 11:19] erlend-sh commented on #855
You can see an example of this in action if you try out [Cloudcannon's Jekyll beta](http://cloudcannon.com/).

[2015-08-05 20:46] phillipadsmith commented on #855
Both of the features -- editable elements and how they've polished collections -- are mighty impressive.

So, just for the sake of clarity: What are you proposing / wanting feedback on?

[2015-08-05 21:01] WhitneyLand commented on #855
Sorry for delay I've been flying too much.  If you are willing to leave the issue open a bit longer I can respond tomorrow when I arrive at a real Internet connection.  Thx.

[2015-08-06 02:23] phillipadsmith commented on #855
All good. Take your time. :)

[2015-08-06 05:28] phillipadsmith opened #861 "Test bug report from the IRC channel"
Submitted by: phillipadsmith
From channel: ##prose-bot-testing
At 2015-08-06 05:28:17 UTC

[2015-08-06 05:28] phillipadsmith commented on #861
Just testing, please ignore. :)

[2015-08-06 05:28] #861 closed

[2015-08-06 20:25] dereklieu commented on #861
@phillipadsmith awesome :)

[2015-08-07 10:41] TimoSolo commented on #743
I'm keen to help! I've used prose for a while for some static sites and wanted to fix the image upload. Do you guys have a roadmap? Where can I get involved?

[2015-08-07 17:27] phillipadsmith commented on #743
Hey there @TimoSolo, great to hear. @ChrisChinchilla and I have both had a quick chat with @dereklieu and are slowly digging our way through the open tickets and codebase. I'd encourage you to do the same and then dig in.

For example, there are some proposed improvements to the image upload / image selection in a recent pull request that you may want to review.

There are also several open issues

[2015-08-07 19:25] gijimmyj commented on #582
This still appears to be an issue. I'm surprised that this has been open so long, as it seems like a pretty major bug. Is there a workaround for this that I'm not aware of?

[2015-08-07 20:23] Greg-Boggs commented on #582
I work around it by using text fields instead of text areas. Not nearly as nice for the editor, but avoids the bug.

[2015-08-07 20:31] gijimmyj commented on #582
Thanks Greg. That's exactly the approach I just finished implementing and
it appears to be working. I can live with UI hit as long as it functions.

On Fri, Aug 7, 2015 at 3:23 PM, Greg Boggs <notifications@github.com> wrote:

[2015-08-07 23:36] dereklieu commented on #582
Hi @gijimmyj and @Greg-Boggs -

I just submitted a pull request that I believe addresses this problem. Please see #862 and, if you have time, feel free to pull down the `metadata-fixes` branch to test this for yourself locally, as I'd love to get some more user-testing on this before deploying it.

Directions for building and running the site locally you can find [here](https://github.com/prose/pr

[2015-08-08 08:23] shubhajeet opened #863 "Jekyll repo of Oraganization is treated as project only"
Although repo is a Jekyll site . It is not being treated as Jekyll site. It may be due to shared.
[Here is the link of the repo](https://github.com/Omegaalumni/Omegaalumni.github.io/)

[2015-08-08 15:06] grobmeier commented on #743
Hi

I am an open source guy (working for years at the Apache software foundation mostly) with some js skills. Part of my day job is to build websites with Jekyll. In genera I am huge fan of static page generation (even wrote a book on Apache Forrest back then).

Now I would love to see this project grow again so I can safely use it. I certainly miss some js skills (not worked too much with node) b

[2015-08-09 00:40] phillipadsmith commented on #836
@dereklieu Works for me from branch 'metadata-fixes' :+1:

[2015-08-09 00:52] phillipadsmith commented on #766
@dereklieu This is still an issue, unfortunately.
<img width="731" alt="editing__posts_2015-08-08-test-of-a-text-area_md_2015-08-08-test-of-a-text-area_md_at_gh-pages_ _prose" src="https://cloud.githubusercontent.com/assets/34128/9153025/3b1969f4-3df6-11e5-9881-4255e08250b1.png">

[2015-08-09 01:05] phillipadsmith commented on #623
@dereklieu I'm getting this bug intermittently. If I create a new file, copy & paste the following into the Raw Metadata field:

[code]

The meta data is updated and shown as ready to save (green).

If I open a new file and type anything into the Raw Metadata field, e.g.:

[code]
That is not shown as part of the meta data to be committed.

I've also occasionally has the change/commit show nothing,

[2015-08-09 01:15] phillipadsmith commented on #623
@dereklieu Ignore the above. I had not run `gulp` again on your metadata-fixes branch. The meta data is saving correctly now.

[2015-08-09 01:18] phillipadsmith commented on #766
@dereklieu Ignore the last comment. Had not run `gulp`. https://github.com/prose/prose/pull/862 fixes the textarea issue for me, e.g.:
https://github.com/phillipadsmith/starter/commits/gh-pages/_posts/2015-08-08-test-metadata-save.md

[2015-08-09 01:19] phillipadsmith commented on #582
@gijimmyj & @Greg-Boggs

https://github.com/prose/prose/pull/862 fixes the textarea issue for me.

See: https://github.com/phillipadsmith/starter/commits/gh-pages/_posts/2015-08-08-test-metadata-save.md

[2015-08-09 01:52] phillipadsmith commented on #863
@shubhajeet The repo works for me (see screenshot). What are you seeing / expecting to happen?

<img width="1039" alt="omegaalumni_github_io_ _prose" src="https://cloud.githubusercontent.com/assets/34128/9153230/961850f6-3dfe-11e5-9718-6180bb3536ca.png">

[2015-08-09 02:38] phillipadsmith commented on #743
@grobmeier Glad to see your interest. @ChrisChinchilla and I have been discussing the same.

In the meantime, it would be helpful to get your take on these [priority issues](https://github.com/prose/prose/milestones/Priority) and a sense of where you'd like to jump in.

[2015-08-09 14:39] erlend-sh opened #866 "Should Prose be an official part of the Jekyll project?"
It's lovely to see Prose picking up some steam again in #743. Major kudos to you guys!

Seemingly [lost in the midst](https://github.com/prose/prose/issues/743#issuecomment-112825569) of the discussion, @daveaseeman asked @parkr & co a question that I think ought to be echoed:

I wholeheartedly agree. With Prose as an official Jekyll project:

- Prose could get exposure in docs.jekyllrb.com
- Pros

[2015-08-09 17:07] daveaseeman commented on #866
@erlend-sh thanks for picking up on the comment and submitting it as an issue. I definitely don't have the experience to say this is a great idea, but as an avid user of jekyll & prose, and seeing prose as the predominant CMS-like solution for jekyll, it seemed intuitively like it might work out for the best!

What do you guys and gals think?

[2015-08-09 20:32] phillipadsmith commented on #866
I'm all for the idea in theory, and assuming the Jekyll project wanted to adopt it.

And, at the same time -- playing devil's advocate -- I wonder what the impact of being an "official" project of Jekyll would have on other current or future "Editor for Jekyll" projects?

It's unlikely that Prose will ever be all things to all people, and there at least a couple of competitive products to Prose. H

[2015-08-09 22:42] Leeds-eBooks commented on #866
Hello, lurker here (and possible contributor in a few weeks when I get some time!). I'm interested by your mention of competitors to prose, @phillipadsmith. Which are you thinking of? I have been completely unable to find any that come close to the ease of use of prose, buggy though it can occasionally be. If there are competitors with other features, I guess it could be useful for maintainers of

[2015-08-09 23:10] phillipadsmith commented on #866
Hey there @Leeds-eBooks: There's a great repository / list by @aharris88 of [Services for static sites here](https://github.com/aharris88/services-for-static-websites#online-editors-for-static-sites). It includes a list of several alternate editors for Jekyll.

HTH,

Phillip.

[2015-08-09 23:38] shubhajeet commented on #863
@phillipadsmith
Here is the dashboard
![screenshot from 2015-08-10 05 15 40](https://cloud.githubusercontent.com/assets/6178529/9157486/2023f5fe-3f1f-11e5-9ea1-8d895f4c6e29.png)

Omegaalumni.github.io does not have **view site** option like others.

[2015-08-10 00:31] colophonemes commented on #866
Hi all!

I too am really excited that Prose is picking up steam, and I think that this would be fine in theory, assuming that those in the Jekyll project who took the project on were happy to keep it fairly platform-agnostic. At the moment, Prose is a great editor that (aside from a couple of quirks, like the handling of image URLs) can be used for pretty much any MD-based static site generator. I

[2015-08-10 00:45] phillipadsmith commented on #863
@shubhajeet No Prose magic there my friend. You just need to add a "Website" field to your Github repo to get the "View site" link.

<img width="931" alt="phillipadsmith_omegaalumni_github_io" src="https://cloud.githubusercontent.com/assets/34128/9157752/4e2a5616-3ebe-11e5-9fe5-73bd2196f8c3.png">

<img width="748" alt="phillipadsmith_ _prose" src="https://cloud.githubusercontent.com/assets/34128/9

[2015-08-10 00:45] phillipadsmith commented on #863
@shubhajeet If that answers the question, please close the ticket. :)

[2015-08-10 00:54] phillipadsmith commented on #866
_Other_ static site generators...? **Blasphemy!**

![Burn the witch!](http://i.giphy.com/kPMwTWvKadCG4.gif)

[2015-08-10 02:05] dereklieu commented on #623
@phillipadsmith awesome. I thought that was the case when I saw there weren't nearly enough tests in your screengrab :).

[2015-08-10 03:15] phillipadsmith commented on #623
@dereklieu Classic n00b mistake. ;)

[2015-08-10 03:36] colophonemes commented on #866
![](http://gph.is/1iHLBRj)

[2015-08-10 10:37] Leeds-eBooks commented on #866
@phillipadsmith Thanks for that! I've just gone through them all and I'm happy to say that prose wins out by a substantial margin. [The GitHub flow](https://help.github.com/articles/github-flow-in-the-browser/) comes close, but is not as easy for non-devs to get their head around. [KISS my BLOG](https://kissmyblog.com/) is probably the closest, but it doesn't seem to integrate with Jekyll easily (

[2015-08-10 13:19] erlend-sh commented on #866
Well, @biiilmann & co from Netlify are apparently [working on some kind of visual editor](https://talk.jekyllrb.com/t/visual-editor-for-jekyll/1055/19?u=erlend_sh) which will be fully open source. I'm definitely excited to see what they've come up with.

[2015-08-10 17:00] biilmann commented on #866
We're indeed working on a CMS for static site generators at [netlify](https://www.netlify.com) that'll be fully open-source.

The repository is private right now while we're working on getting the whole flow for getting up and running easy enough that we feel we won't scare off a bunch of normal users right away, but I'll be happy to invite anybody from the Prose community. Just shoot me a mail at

[2015-08-10 21:08] michaelkirk commented on #606
Just got bit by this, though I never revoked access to the app.

![proseio-401](https://cloud.githubusercontent.com/assets/217057/9184301/41285764-3f69-11e5-92e1-9cfb4b71917c.png)

The work around was to clear my prose cookie.

[2015-08-10 21:12] dereklieu commented on #606
I get this occasionally too, and would like there to be a Re-Authorize button in that dialog message.

[2015-08-11 14:24] RaghuAllTheTime opened #867 "Customizability"
Can you make prose dark, or change its font?
If so, how?
Or else, I would like such a feature.

[2015-08-11 15:15] dereklieu commented on #867
@prose/contributors anyone want to work on prose skins?

[2015-08-11 15:30] dereklieu commented on #856
Fixed in #856 and #862

[2015-08-11 15:30] #856 closed

[2015-08-11 16:13] #863 closed

[2015-08-11 17:55] dereklieu commented on #849
#864 would seem to fix the issue where, if the `media` path is not defined in `_config.yml` or `_prose.yml`, it defaults to the current directory.

[2015-08-11 20:40] dereklieu opened #868 "Title input form updates title metadata in markdown files"
In #862 I removed the [metadata-value setter function call](https://github.com/prose/prose/commit/f7d0e12461769e2e6a3c8c71d986552242c28ce3) in `views/file#makeDirty`, aka the way you inform the editor that something has happened that might warrant a save.

This separates some concerns; if `metadata.js` is responsible for all the meta forms, and these correspond to `model.metadata`, then `file.js`

[2015-08-11 20:44] dereklieu commented on #868
Related to #854

[2015-08-12 03:37] phillipadsmith commented on #867
@dereklieu I'm keen to add a "dark" skin akin to what Penflip has. If you can get me added to the @prose/contributors list, you can assign this to me.

[2015-08-12 03:39] phillipadsmith commented on #868
:+1:

[2015-08-12 07:01] giladju commented on #868
not sure this is directly related - but I'm not seeing the Metadata (& settings) button on the right anymore
this is strange as other github users on the same repo are able to enter metadata

[2015-08-12 12:35] RaghuAllTheTime commented on #867
@dereklieu  I _Could_ add fonts, with Source Code Pro as the default, and  allow the user to add a custom font.

[2015-08-12 12:37] RaghuAllTheTime commented on #743
I want to be a contributor.
I will help add customizability, and if i can, in an autosuggest feature in Prose.

[2015-08-12 12:59] WhitneyLand commented on #855
Thought I was inventing something interesting :).  However it looks like this is exactly what cloudcannon is already doing.  However...

It could be great for prose to support some the same standards for editable sections.  For example, why not use the same CSS class to designate what is editable?

The advantage to piggybacking would be it first, it starts to create a defacto standard for static s

[2015-08-12 13:07] tristen commented on #867
:-1: on this. Prose should be simple. Adding _skins_ introduces complexity, bloat and I'd argue is completely unnecessary.

There's nothing stopping someone from forking prose and altering the stylesheet for their own purposes. Please let's make incremental improvements to the existing aesthetic.

[2015-08-12 13:20] RaghuAllTheTime commented on #867
No I just want a dark background for the editor, if possible.
Please tell me you can just make the editor dark, and a simple kind of dark, eg: the editor in [medium.com](Medium.)

[2015-08-12 13:32] erlend-sh commented on #743
@phillipadsmith & co, once things have settled a bit, it'd be great if you could drop by [talk.jekyllrb.com] and kind of summarise what's been happening lately, who's involved and how you're moving forward.

Since Prose is intended to serve the less technical Jekyll users, it makes sense to post updates to Talk once in a while, where you'll likely reach more of these users than you through just Gi

[2015-08-12 15:29] dereklieu commented on #867
@tristen point taken. Closing this as it's not a priority right now.

[2015-08-12 15:29] #867 closed

[2015-08-12 15:31] dereklieu commented on #868
@giladju these changes aren't deployed to prose.io yet so this may be another issue, or something to do with your metadata settings.

[2015-08-12 15:33] tristen commented on #867
@RaghuAllTheTime I totally recommend [Stylish](https://chrome.google.com/webstore/detail/stylish/fjnbnpbmkenffdnngjfgmeleoegfcffe?hl=en) - a chrome extension for creating custom skins if you want a dark theme for your own needs.

[2015-08-12 15:34] #851 closed

[2015-08-12 16:01] dereklieu commented on #830
@JayAtCornwallCollege yeah, prose wouldn't default to `.md` on new files unless you put it in `_posts` or `_drafts`. Right now you'd have to save, and reload the page.

[2015-08-12 16:03] dereklieu opened #869 "Saving new markdown file should show metadata editor and published toggle"
Right now if you open a new file outside of `_posts` or `_drafts` and save it with a `.md` extension, prose doesn't show you the metadata editor or publish toggle unless you leave the page and reload it first. cc #830

[2015-08-12 16:15] dereklieu commented on #658
Main issue here is closed. Tracking the published button/metadata editor issue in  #869

[2015-08-12 16:15] #658 closed

[2015-08-12 19:59] dereklieu commented on #641
The issue here is that the title is being inserted [as a placeholder](https://github.com/prose/prose/blob/master/app/views/file.js#L484) due to prose thinking that it's a brand new file.

Same thing happens when you go from a post and create a draft from it in the settings sidebar dialog.

Fix is to check for `&& !isClone()` in addition to the quoted line above.

Will write a fix and tests.

[2015-08-12 22:02] techtonik opened #872 "Allow access to certain repositories only"
Prose request access to all repositories under my account. Is it possible to isolate the changes to one repository only?

[2015-08-12 22:45] phillipadsmith commented on #606
+1

[2015-08-12 22:48] phillipadsmith commented on #855
That's an interest idea, indeed.

@WhitneyLand Would you mind researching what selectors are used elsewhere for the sake of documenting what an enhancement like this might involve?

[2015-08-12 22:50] phillipadsmith commented on #743
Good idea.

I'm [over there regularly](https://talk.jekyllrb.com/users/phillipadsmith/activity).

I'll make a point of keeping an eye out for threads asking about editors.

[2015-08-12 23:00] phillipadsmith commented on #830
@dereklieu Is this an open issue? I'm able to create new .yml and to edit them in prose.io without any issues. The file tree is not refreshed automatically, but -- otherwise -- "works for me."

[2015-08-12 23:01] phillipadsmith commented on #830
Bah, @dereklieu, spoke to soon: I see the related ticket about .md files.

This ticket, however, seems to be specifically about .yml files though...?

[2015-08-12 23:13] phillipadsmith commented on #872
@techtonik As far as I can tell from the [Github API docs on 'scopes'](https://developer.github.com/v3/oauth/#scopes), it wouldn't be possible to do this during the Github authorization step.

[2015-08-13 11:10] techtonik commented on #872
@phillipadsmith how about [personal access tokens](https://github.com/settings/tokens) - can they be used?

[2015-08-13 13:20] WhitneyLand commented on #855
Glad to do so.

Thanks for your response -

[2015-08-13 14:44] dereklieu commented on #872
@techtonik Unfortunately no. Prose supports access to all repos, or access to only public repos. This is a limitation of the Github API, personal access tokens or no.

If you wanted to limit Prose to seeing one repo, the best thing to do would be to create a new Github account and fork just that one repo.

[2015-08-13 14:44] #872 closed

[2015-08-13 20:57] #641 closed

[2015-08-13 20:57] #868 closed

[2015-08-13 21:01] dereklieu commented on #821
Seems like master was ahead of gh-pages when this was posted. This is now working as it should, tested on prose.io.

[2015-08-13 21:01] #821 closed

[2015-08-13 21:18] dereklieu commented on #810
`CURRENT_DATETIME` is working on prose.io

[code]

Use `text` instead of `hidden` if you need to make it edit-able.

[2015-08-13 21:18] #810 closed

[2015-08-13 21:21] dereklieu commented on #637
Closed via #831

[2015-08-13 21:21] #637 closed

[2015-08-13 21:22] dereklieu commented on #828
There's no way to do this right now. Creating a mobile label to categorize these issues.

[2015-08-13 21:27] dereklieu commented on #840
@mushishi78 is there any reason you wouldn't want to use a multiselect here? I agree that it's weird not being able to select nil on a select, but you can do that on a `multiselect` and also apply alterable to it.

[2015-08-13 21:34] mushishi78 commented on #840
But that would give you an array, rather than a string. And allow multiple choices for something that only needs a single option. It's not really the same thing.

[2015-08-13 21:35] dereklieu commented on #833
Dupe of #553.

[2015-08-13 21:50] dereklieu commented on #840
Point taken.

The fork of `jquery-chosen` that prose uses is [quite behind the master](https://github.com/banno/chosen). It might be time to update that dependency.

[2015-08-13 22:10] dereklieu commented on #705
`file#getLayout` expects the `_layouts` folder to [exist in the root directory](https://github.com/prose/prose/blob/master/app/views/file.js#L716) but you've specified a `source` flag in your configuration, which isn't appended to this path. Prose can't find the layout file so it throws this error.

This bug would seem to affect anyone using a `source` that isn't the root directory.

[2015-08-13 22:20] dereklieu commented on #635
@mayarichman @BogieZero @zoul This looks fixed in the master branch. Both `select` and `multiselect` elements [will create an option and select it](https://github.com/prose/prose/blob/master/app/views/meta/multiselect.js#L46-L56) if it finds something in a file frontmatter that doesn't exist as a default in `_config.yml`.

Should be deployed to prose.io tomorrow after I wrap a few more things up.

[2015-08-14 00:28] techkid6 commented on #553
:+1:

[2015-08-14 20:38] dereklieu opened #873 "Metadata name classes conflict"
If you give your `button` element a name of `toggle` as in the following config:

[code]

You'll get this:

![screen shot 2015-08-14 at 4 38 37 pm](https://cloud.githubusercontent.com/assets/1590802/9283541/a3f01cc4-42a2-11e5-958c-eefb80201174.png)

Instead of:

![screen shot 2015-08-14 at 4 40 12 pm](https://cloud.githubusercontent.com/assets/1590802/9283552/b8d41a1e-42a2-11e5-893f-f9d0e76ee3d5.p

[2015-08-14 20:39] dereklieu commented on #859
Closed #862

[2015-08-14 20:39] #859 closed

[2015-08-14 20:41] dereklieu commented on #836
Raw editor is working as of #862 and now deployed to prose.io.

I think the quotes wrapping is just what js-yaml does for strings with special characters such as dashes, but if it's not causing issues then I'm just going to leave that as is.

[2015-08-14 20:41] #836 closed

[2015-08-14 20:43] dereklieu commented on #766
Textarea fields are working as of #862 and deployed to prose.io.

[2015-08-14 20:43] #766 closed

[2015-08-14 20:45] dereklieu commented on #623
The raw metadata editor is working as of #862 and deployed to prose.io.

[2015-08-14 20:45] #623 closed

[2015-08-15 02:20] dumky opened #874 "Slashes in code block improperly rendered in preview"
A forward slash within a code block (shifted by four spaces) gets previewed as "&#x2F;".
But a forward slash outside of a code block previews fine.
Also, the final rendering (by publishing the post) is correct.
Finally, for comparison, the preview in the GitHub editor for inputting this issue works properly.

test/test (this previews properly)

    test/test (this previews incorrectly)

A few exam

[2015-08-15 20:50] phillipadsmith commented on #810
OMG. So awesome! :100:

[2015-08-15 20:51] phillipadsmith commented on #828
@dereklieu: Is this specifically a Codemirror issue? Mostly just curious...

[2015-08-15 21:06] phillipadsmith commented on #874
@dumky: Is this the preview issue that you're experiencing?

<img width="722" alt="previewing__posts_2015-08-08-your-filename_md_2015-08-08-your-filename_md_at_gh-pages_ _prose" src="https://cloud.githubusercontent.com/assets/34128/9290849/d8b7a698-4356-11e5-8188-a3b675414197.png">

[2015-08-15 21:15] phillipadsmith commented on #643
Just adding a mental note here about how @benbalter's other project has addressed this: https://github.com/benbalter/redliner

[2015-08-15 21:20] phillipadsmith commented on #858
@kennethormandy Any updates on this? :)

[2015-08-15 21:26] phillipadsmith commented on #835
@dereklieu Is this issue still open?

[2015-08-15 22:07] dumky commented on #874
Yes, exactly. 

—
Sent from Mailbox

On Sat, Aug 15, 2015 at 2:07 PM, Phillip Smith <notifications@github.com>
wrote:

[2015-08-17 11:34] anandthakker commented on #661
This has been fixed, most likely in #862.  Closing.

[2015-08-17 11:34] #661 closed

[2015-08-17 14:57] dereklieu commented on #835
@phillipadsmith yup! Still need either an automated Travis deployment script, or to be able to wipe out the master branch, which would involve IMO closing the open pull requests.

[2015-08-17 15:09] mikemorris commented on #835
@dereklieu I would suggest just making sure that `master` is deployable, then push it to `gh-pages` and kill `master`. Open pull requests can be recreated if they're still relevant.

[2015-08-17 15:20] dereklieu commented on #835
@mikemorris one small issue is that `index.html` in master [doesn't use the minified version of prose](https://github.com/prose/prose/blob/master/index.html#L19) while gh-pages [does](https://github.com/prose/prose/blob/gh-pages/index.html#L19).

I think killing `master` would mean serving the un-minified version (not a huge deal IMO) unless there's a smarter way to handle this.

[2015-08-17 15:21] dereklieu commented on #828
@phillipadsmith No, nothing to do with Codemirror. The toolbar where the image upload dialog would usually be is hidden on mobile, so at the very least this would be some UI and styling work.

[2015-08-17 16:43] mikemorris commented on #835
@dereklieu Un-minified seems fine to me, ease of automatic deployment definitely outweighs the small file size savings.

[2015-08-17 18:42] dereklieu commented on #835
@mikemorris awesome. Putting this on my to-do list.

[2015-08-23 05:47] AmrEldib commented on #775
Similar problems for Arabic. Let me know how I can help.

[2015-08-24 15:23] dereklieu commented on #775
@AmrEldib if you can contribute an Arabic translation, that would be very much appreciated. There are [instructions](https://github.com/prose/prose/blob/master/CONTRIBUTING.md#translating) in `contributing.md`. You'll want to know the [prose transifex site](https://www.transifex.com/tristen/prose/) as well.

@medicart I'm looking into the Hebrew translation.

[2015-08-24 15:54] mikemorris commented on #775
Possible these bugs stem from unresolved issues in CodeMirror https://github.com/codemirror/CodeMirror/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+rtl

[2015-08-24 21:56] dereklieu commented on #775
@mikemorris yeah I think you're right. Thought it was the transifex translation at first, but that file is completed and deployed.

CodeMirror has a [direction](https://github.com/codemirror/CodeMirror/tree/direction) branch that is trying to address this, but isn't being worked on and is now way behind the master.

Open to suggestions here.

[2015-08-25 03:07] rcross commented on #553
:+1:

[2015-08-25 03:12] rcross commented on #866
:+1:

[2015-08-25 10:51] tomsabin opened #876 "Feature request: configure default branch"
By default, the selected branch upon loading Prose is set to GitHub's default branch. It would be useful to be able to set the default Prose branch independently to GitHub's default.

The situation I have is that the default branch on GitHub is `staging`, however content written on Prose should be deployed automatically to `production` - currently the user would have to select this branch in the s

[2015-08-25 17:14] AmrEldib commented on #775
@dereklieu I'd love to help with the localization. I've submitted a request to be a member of the team.

@dereklieu @mikemorris would testing the direction branch help merge (and then using it in Prose)? I see at least [one comment](https://github.com/codemirror/CodeMirror/issues/2878#issuecomment-62554396) welcoming testing. Another more recent [comment](https://github.com/codemirror/CodeMirror/i

[2015-08-26 12:30] tomsabin opened #877 "Config only allows one hidden element since `metadata.js` refactor"
With a config file that has multiple hidden fields, only the last hidden element is rendered in the front matter. From my understanding this was introduced in 0060a9fd2d85790749eb225e4d7be07b4f918c16 (10th August):

in [`app/views/metadata.js:147`](https://github.com/prose/prose/blob/master/app/views/metadata.js#L147), the model's `metadata` is being rewritten multiple times (depending on how many

[2015-08-26 12:32] dereklieu commented on #877
@tomsabin point taken, would love a PR and test of this behavior.

[2015-08-26 12:34] tomsabin commented on #877
@dereklieu, certainly - I'm working on that now

[2015-08-26 12:48] tomsabin commented on #877
@dereklieu please see https://github.com/prose/prose/pull/878

[2015-08-26 13:29] #877 closed

[2015-08-28 21:21] dereklieu commented on #775
@AmrEldib I haven't looked into the CodeMirror internals much, so I'd be interested in knowing just how much work this task would involve.

The version of CodeMirror that Prose uses is outdated as well, and needs an update.

[2015-08-29 15:02] nexocentric commented on #743
I have been using Jekyll for a little bit now. I have used Prose too. I'd like to talk about lending a hand. Most definitely don't want to see the project die off.

[2015-08-29 19:09] pgriesmer commented on #703
@EpicDavi I was having the exact same issue as you just now, but adding a CNAME file--as @mxstbr suggested above--fixed the problem. I just had to follow the directions on the Github Help page that he appended to his comment.

[2015-09-01 15:49] dereklieu commented on #743
Hey @nexocentric glad to hear it! Going to get in touch via the email listed on your GH account.

[2015-09-01 22:07] nexocentric commented on #743
Thanks a lot for the message @dereklieu . I look forward to hearing from you.

[2015-09-01 22:57] ianhobbs commented on #866
No.
Clearly there a rich community of parallel developments with important differences in approaches. So Jekyll should support this community as a field of endeavour, rather than choose a solitary (leading!) example.

[2015-09-02 11:04] JohannesMP commented on #874
Similarly, less than/greater than characters are incorrectly encoded as the html entities `&lt;` and `&gt;` - so "`std::cout << "hello world" << std::endl;`" when typed in the editor becomes "`std::cout &lt;&lt; &quot;hello world&quot; &lt;&lt; std::endl;`".

However luckily this only occurs in the preview, and the actual text file is stored with the original characters

[2015-09-02 11:29] JohannesMP opened #879 "List button behavior is unintuitive."
In stack overflow, if you select one or multiple lines of text and hit the 'Bulleted List' button, the editor will not only insert the appropriate markdown list character, but will also wrap the selection in newlines as is required by markdown.

For example, the following text:

![screen shot 2015-09-02 at 04 15 33](https://cloud.githubusercontent.com/assets/662874/9629723/acd075ec-5129-11e5-9487-

[2015-09-02 14:19] rdwatters opened #880 "Date breaking build (slightly different than previous date breaking issues)"
I'm playing with prose on a Jekyll test site that can be found at rdwatters.github.io. I currently sort my posts by the date: field in a post's metadata. That said, I only use the year, month, and date (eg, 2015-09-01).  This doesn't cause any issues for sorting on local dev, but because prose.io saves the full date (ie, including, h, s, etc), my builds are breaking when I update posts in prose. I

[2015-09-02 15:50] dereklieu commented on #880
@rdwatters we do need to create a date metadata field - see #760. In the meantime, the best stopgap is to manage your date using a text element. You can pair this with a hidden element containing the creation date as below.

[code]

[2015-09-02 16:10] dereklieu commented on #879
Agree, this would be a welcome improvement.

[2015-09-02 16:56] dereklieu commented on #874
@JohannesMP Yeah, wonder if it has something to do with a very simple escaping scheme used to generate preview content. Probably related to #837

[2015-09-02 16:57] fbender commented on #713
If no one is working on this, I may have time* to write a PoC SCM abstraction tailored for existing Github and requested Gitlab integration. I'd be happy about any pointer or existing code snippet anyone may already have.

* Pending project management decision.

[2015-09-02 16:57] dereklieu commented on #743
@nexocentric getting a bounce back from the email in your sig. Can you email me at the email in mine?

[2015-09-03 15:32] rdwatters commented on #880
Dereklieu, thanks so much for the quick response on this. I'll attempt the workaround this evening and get back to you. Any thoughts on an ETA for the data metadata field? Cheers.

[2015-09-03 16:17] dereklieu commented on #880
@rdwatters great. Not sure on ETA, there's a couple of things I've been meaning to work on but if I have time over the long weekend I'll try to get to it.

[2015-09-04 19:18] dereklieu opened #881 "Linting"
Include a modified Airbnb-style javascript linter that follows the [prose coding style](https://github.com/prose/prose/blob/master/CONTRIBUTING.md#javascript)

[2015-09-11 14:44] mushishi78 opened #882 "Wrong label on for select box on load"
When you have separate values and labels for a select box in the metadata, it fails to load the correct label for the box from the value already in the metadata.

Edit: Actually it doesn't matter whether you use a label or not, it just flat out doesn't load the current value in the metadata at all.

[2015-09-11 17:53] dereklieu commented on #882
Confirmed this behavior. The [docs](https://github.com/prose/prose/wiki/Prose-Configuration#select--multiselect) don't say anything about setting a default `value` which makes me think this was never a feature anyway, but I think it'd be a nice to have.

[2015-09-13 00:40] sammcj opened #883 "prose.io has no SSL - security / privacy issue"
http://prose.io version of the website available (https://prose.io) - this is a serious security / privacy concern especially given that it authenticates with people's Github (which yes, I know partially uses Github's SSL for outh but that doesn't help other than for authentication).

I only just noticed this today and it worries me quite a bit.
- Resolution: Add a SSL cert to prose.io, then redir

[2015-09-14 03:22] rdwatters commented on #880
@dereklieu So, as it turns out, the above workaround doesn't actually work. I created a published_on and a created date per your suggestion:

[code]

I am able to sort on the `published_on` date, but the problem is that when I enter a date as a string, it writes the metadata to the file in quotes; e.g., writing `2015-08-10` into the field in the prose editor writes `published_on: "2015-08-10"` to

[2015-09-14 14:07] dereklieu commented on #883
Would love to get this done, in addition to #825.

[2015-09-14 15:10] mikemorris commented on #883
Yes, this should definitely happen.

[2015-09-15 03:06] sammcj commented on #825
+1

[2015-09-15 13:38] jmatsushita commented on #606
+1 Just bumped into this as well after recreating a new github organisation and new application on the same prose server. I agree that a Re-Authorize button would help the hassle of deleting the cookie (or more importantly, telling my prose users to delete their cookie...)

[2015-09-16 05:38] dumky opened #884 "Suggestion: method for doing preview"
I found that the Prose preview differs significantly from the final Jekyll rendering.
Of course, one solution is to bring the two to be consistent.
In the meanwhile, I've been using a workaround: I use a test file (test.md) on my site where I copy the content and let Jekyll render it.

This type of workflow could be integrated into Prose. That would require configuring what file is the test file a

[2015-09-20 03:08] phillipadsmith commented on #606
@dereklieu Just putting a placeholder here because I haven't looked at it closely, github-secret-keeper https://github.com/HenrikJoreteg/github-secret-keeper

[2015-09-22 14:23] defeo opened #885 "Live previews: populate site and page with Jekyll generated metadata"
It seems that metadata for jekyll sites is poplauted with the contents of `_config.yml` for the `site` field, and the page metadata (prose defaults + user entered) for the `page` fields.

This leaves off all metadata that is automatically generated by Jekyll. For example, the contents of `site.collections`, `site.posts`, etc., and the page metadata defaults set by the `defaults` variable in `_conf

[2015-09-22 17:26] isaacrg opened #886 "Commit button doesnt appear on mobiles."
After making an edit on my mobile, a commit button doesn't appear, upon clicking the "save" button. It still shows the "diff" page.

Is this a known bug, or intentional feature?

[2015-09-22 18:22] phillipadsmith commented on #886
@isaacrg Can you provide a screenshot and let us know what mobile browser you're using?

[2015-09-24 21:36] isaacrg commented on #886
I'm using Chrome 45 for Android.

![](https://www.dropbox.com/s/hyot8dirzmktzo8/Screenshot_2015-09-24-22-32-07.png?dl=1)

[2015-09-29 13:41] nerdcoat opened #887 "No editing possible"
After opening a file, I just can edit the title. The preview showed the complete file. Using Windows Phone.

[2015-09-30 06:24] phillipadsmith commented on #887
@nerdcoat I don't know much about Windows Phones. Can you tell me what phone you're using, what version of the operating system, and what browser?

Can you explain more what's happening when you try to edit the main content of the post?

[2015-09-30 06:55] nerdcoat commented on #887
Sure. I use a **Nokia Lumia 530 Dual Sim** with **Windows 8.2**.
When I click on edit, nothing happens. To help a little bit, I installed UC Browser and Opera.
UC => Same here. May its because of the engine they use?
Opera => Cant actually check because "Error while loading data from Github" (Status is good)

[2015-10-03 03:32] wordsforthewise opened #888 "autosave drafts"
This should really auto-save some form of a draft every minute or so, I just lost 4 hours of extremely tedious work because I didn't click save the whole time, and then it crashed chrome when I finally did click save.

[2015-10-03 15:20] dereklieu commented on #888
Would love an autosave feature, perhaps using the jekyll drafts folder. Ideally it would be something you turn on in `_config.yml` as well.

[2015-10-03 22:54] Leeds-eBooks commented on #888
What about just saving to localStorage like GitHub and Discourse do?

[2015-10-05 20:03] northox commented on #883
+1

[2015-10-06 07:33] nottrobin opened #890 "Support reference-style Markdown links"
The prose frontend has an "insert link" button, which creates a markdown link in the following format:

[code]

I prefer to insert my links in the following format, so that the pure markdown text is more readable:

[code]

To make this more easy to generate, the "example" tag in the above example could just be an auto-generated hash, like "a2edf5". That's how [atom's markdown-writer plugin][] does

[2015-10-07 09:07] gurusinga commented on #851
It happens to me right now as I revoked Prose from GitHub setting. @dereklieu

[2015-10-08 21:20] dereklieu commented on #883
Since prose.io is hosted on github pages, it's a bit more complicated than just buying a cert. We're in discussions on the best way to support HTTPS, but in the meantime, if you need HTTPS on the hosted version of prose you can use [https://prose.github.io/prose/](https://prose.github.io/prose/)

[2015-10-12 06:52] jgillich commented on #643
Any news on this? I would really love to see this fixed, the current behavior is super confusing. I'd also like to use Prose to allow edits by users not familiar with GitHub.

[2015-10-12 15:53] jgillich commented on #111
So now it always sets `published: true`..is this intended? I don't use Jekyll and have no use for it at all. Can we either not set it by default or hide it behind a config?

[2015-10-12 16:23] rdwatters commented on #880
@dereklieu Any update on this? Thanks for all your feedback!

[2015-10-14 21:10] onnimonni opened #891 "Code blocks are wrongly translates into entities in preview mode"
I noticed that code block escaping has wrongly escaped characters.

**What I use as input:**
<pre>
[code]
</pre>

**What I expected:**
[code]

**What I get:**
[code]

**Example page**
http://prose.io/#WP-Palvelu/developer-documentation/preview/gh-pages/_posts/2015-10-13-local-development.md

[2015-10-15 07:17] phillipadsmith commented on #890
@nottrobin Can you clarify what you mean by "Would it be possible to support this in prose.io?"  I use the reference style links on my blog, which I update with Prose, and they work just fine, e.g.:

Source:
https://raw.githubusercontent.com/phillipadsmith/2014.phillipadsmith.com/master/_posts/2014-08-05-static-news-apps-secret-sauce.md

Output:
http://phillipadsmith.com/2014/08/static-news-apps-s

[2015-10-15 10:57] nottrobin commented on #890
I meant would it be possible for the "insert link" button to allow you to insert reference-style links.

[2015-10-15 18:47] jgillich commented on #883
@dereklieu I'm using Cloudflare SSL together with Pages and it works great. Are there any concerns about it?

[2015-10-15 22:22] phillipadsmith opened #892 "Link from preview to original document"
Right now, when using the "edit in prose" link from a file in GitHub, I arrive at the editor and have no way to return to where I was, e.g.:

* When viewing http://prose.io/#Org/repo/blob/master/README.md
* And clicking the preview icon
* There's no link to head back to the original document

[Mostly a note to self, but would be good to know if this sounds sensible @dereklieu]

[2015-10-16 01:18] phillipadsmith commented on #890
Do you think people would expect that to be the default way it would work? My sense is that most users would expect the inline link format.

If that's the case, how would the UI work? In Atom, is it the same "insert link" option for both kinds of links?

Phillip.

[2015-10-16 10:44] tomsabin opened #893 "Only the last 7 fields from the configuration are included in the frontmatter"
I am trying to add a number of different hidden/visible fields to the config file, however it seems there is a limit of 7 fields including a maximum of 1 hidden field.

This is what I was hoping to use in my config file:

[code]

Produces:
[code]

However, I have had to remove one of the fields, and make two hidden fields visible in order for the frontmatter to render correctly. With the above exa

[2015-10-16 11:01] tomsabin opened #894 "Empty list for multiselect showing `null` as select item"
When a multiselect has no items selected (i.e. it produces `tags: null`) this is shown as an item when editing an article:

<img width="288" alt="screen shot 2015-10-16 at 11 49 55" src="https://cloud.githubusercontent.com/assets/885223/10540172/8a8c03ba-73fd-11e5-8e08-08c3c4af20ea.png">

Config:

[code]

[2015-10-18 01:37] phillipadsmith commented on #643
@dereklieu @mikemorris @dhcole @Floppy  I've just found a bit of time to dig into this issue (and related issues) again.

The most pressing / problematic issue appears to be when an unauthenticated user would make edits to a file and then lose their work.

I'm wondering if a short-term solution would be to:

* Update the router.path to check for an authenticated user
* If authenticated, let the us

[2015-10-18 01:39] phillipadsmith commented on #643
P.S. Another approach I was exploring was just to set CodeMirror to readOnly and to hide the file navigation, leaving only the "Authenticate on GitHub" button ... and yet it didn't seem obvious enough.

[2015-10-18 10:03] jgillich commented on #643
That looks like a good solution to me, but I think the text should explain what the site is about for users unfamiliar with GitHub. Maybe something along the lines of "to edit this document, you need to log in with your GitHub account".

[2015-10-18 21:49] phillipadsmith commented on #643
Agreed. I just want to confirm the approach first with @dereklieu @mikemorris and others.

If the approach is sensible, I'll create a new view or something along those lines that makes it obvious to the user their request is to edit a document, and yet they have not yet authenticated and that authentication is required. Might also be sensible to explain what's going to happen in terms of forking a

[2015-10-18 22:23] phillipadsmith commented on #540
Closing this issue, as it is being tracked and discussed more actively in #643.

[2015-10-18 22:23] #540 closed

[2015-10-19 04:03] phillipadsmith commented on #893
I don't see anything that would limit the number of fields, @tomsabin.

Can you point me to your config so that I can test it?

Phillip.

[2015-10-19 04:08] phillipadsmith commented on #894
Can you try passing a name/value pair as shown here and let me know if that solves the issue:
https://github.com/phillipadsmith/starter/blob/gh-pages/_config.yml#L33-L46

[2015-10-19 04:25] phillipadsmith commented on #893
@dereklieu I've confirmed that there is some type of regression happening here.

If I change [this line in my test config](https://github.com/phillipadsmith/starter/blob/gh-pages/_config.yml#L12) from "hidden" to "text" the field appears and the default value is written out to the post's front matter.

If that field's element is set to "hidden" it is not written to the front matter.

[2015-10-19 09:34] tomsabin commented on #894
@phillipadsmith unfortunately not, it still shows `null` as the tag.

[2015-10-19 19:38] phillipadsmith commented on #894
Is this a public repo that I can clone and test? Can you post your updated config?

[2015-10-21 11:47] tomsabin commented on #894
@phillipadsmith please see http://prose.io/#tomsabin/prose-issue-894 and https://github.com/tomsabin/prose-issue-894 to recreate the issue.

The updated config file can also be seen at https://github.com/tomsabin/prose-issue-894/blob/master/_prose.yml

[2015-10-24 07:37] orschiro commented on #169
Has anyone tried this solution?

https://github.com/codemirror/CodeMirror/issues/1017#issuecomment-122308718

[2015-10-25 07:29] kategenevieve opened #895 "Images not working because of empty image strings in the html"
Coming up against a problem on our website build - prose.io is mistakenly putting empty image strings in to the html. Not sure whether it should just not be adding the empty image paths at the CMS level, or whether it should be getting to the {% if %} statements in the _includes/media.html. Tests show that the if statements set up in the media.html are not working.

Trying to fix this by -
* manua

[2015-10-26 20:47] johngriffin commented on #842
+1 for being able to get rid of the prepended {{site.baseurl}} somehow.  This is breaking things for me since I'm using prose.io with Hugo, which doesn't preprocess liquid tags in markdown content.

[2015-10-27 01:18] maryefern commented on #837
Yeah, what's up with that? I'm having the same issue.

[2015-10-27 15:04] dereklieu commented on #895
@kategenevieve could you point me to the site and the `media.html` file that's causing this? Wondering if it's something to with the yaml parser.

[2015-10-27 16:17] gsf commented on #883
With CloudFlare SSL, and even with https://prose.github.io/prose/, there is still a segment between the CDN and GitHub's servers where data is passed back and forth via plain HTTP (github/issues#156).

[2015-10-27 16:24] jgillich commented on #883
@gsf You can set SSL to full in the Cloudflare CP and it will then use the HTTPS site. Of course GitHub doesn't have the correct cert, so you can't use strict.

[2015-10-27 20:59] gsf commented on #883
@jgillich Yes but even the HTTPS for GitHub pages (https://*.github.io) is SSL terminated at their CDN, passing the data in the clear over that last segment. See [this comment](https://github.com/isaacs/github/issues/156#issuecomment-75738734) on that thread I referenced.

[2015-10-29 18:36] phillipadsmith commented on #643
Paging @dereklieu @mikemorris  :-)  I've got some cycles to push forward on this now / this weekend.

As well I'm on route to the Mozilla Festival to facilitate a session that will focus on GitHub, Prose, Redliner, and similar GitHub-enhancing tools. It would be great to have this working soon, as we're keen to re-implement the "[improve this content](https://github.com/project-open-data/project-o

[2015-10-30 20:55] isair commented on #841
What's the status on this?

[2015-10-30 21:08] dereklieu commented on #841
The issue is with placing branches with slashes in the url and tripping up Backbone's router. Dumb example: we have two routes.

[code]

Calling your branch `feature/navigation-items` is going to activate the second route, but of course you don't have any file called `navigation-items`.

I haven't had time to work on this lately. If someone else wants to take a shot, it seems like a fairly well-co

[2015-11-03 16:12] letsgetrandy opened #896 "Why does Prose.io ask for access to my private repos?"
I don't want to give unknown third-parties access to my company's private repos, but this cannot be deselected during the authentication process.

Until this is changed, I cannot try out this tool.

[2015-11-03 16:22] mikemorris commented on #896
Dupe of https://github.com/prose/prose/issues/126

[2015-11-03 16:22] #896 closed

[2015-11-04 15:58] dereklieu commented on #111
This just happened to me too, on a project that doesn't require it. I agree it's annoying, and doesn't make sense if the file is not in a _posts folder.

[2015-11-04 16:58] bcjordan commented on #719
Still interest in this? Might be able to implement over weekend

[2015-11-04 17:03] bcjordan opened #897 "Option to allow access to only certain organizations"
Would it make sense to add the option to limit read/write access to certain GitHub organizations? In certain cases it seems a bit extreme to give prose.io keys to organization repositories we happen to be a part of.

If this is a flow we're interested in implementing I might be able to take a stab at it. Thanks!

[2015-11-04 21:49] dereklieu commented on #643
@phillipadsmith sorry I've been totally MIA here, but a big project just launched and that's taken my attention for the past few weeks.

Are you suggesting the fix of making the entire interface Read-only-only when Prose recognizes that someone is not authenticated? Also, I'm not sure that app.router knows when a user is authenticated if that user is on prose.io. Regardless of whether I'm authenti

[2015-11-04 22:12] dereklieu commented on #897
This would be possible with the [affiliation flag](https://developer.github.com/changes/2015-07-22-more-flexible-options-for-listing-repositories/) and probably not hard to shoehorn in the dropdown we have that differentiates between public + private or just public.

@bcjordan what does the flow look like to you?

In general I think limiting Prose access to repos is always a valid concern, but it

[2015-11-04 22:17] dereklieu commented on #719
@bcjordan if you put together a pull request and a test, I'd be happy to look it over!

[2015-11-04 22:26] dereklieu commented on #883
Ah wow @gsf I missed that comment in that thread, although it would seem to be a very important one.

[2015-11-05 00:52] phillipadsmith commented on #643
@dereklieu All good. No worries. It happens! :-)

Basically, yes.

I've got a couple of variations working locally that seem to do the trick by determining if the user is logged in or not when they access a path to a file directly.

The big question in my mind is how the heck do I write a test for this (conceptually, not practically)?

If the "read only" approach seems correct, I'll push my branch

[2015-11-05 15:01] bijoutrouvaille opened #898 ""Not Found" error: can't save edits to an organization's repo"
I wanted to set up a jekyll gh-pages repo that could be edited with prose by multiple users. For that I set up an organization and created the repo in it, myself being one of the admins. I'm experiencing two problems:

1. Repos which I'm authorized to edit but aren't part of my personal account don't show up in the list at prose.io/#myusername. This problem seems amenable by visiting prose.io/#org

[2015-11-05 16:20] dereklieu commented on #898
@bijoutrouvaille have you tried removing your oAuth token for prose.io and re-authing with Github?

[2015-11-05 16:23] dereklieu commented on #643
@phillipadsmith I'd definitely be interested in seeing the work, yes. If the test is a block, I'm also happy to help with it after you've pushed your branch up.

[2015-11-05 16:38] phillipadsmith commented on #643
Deal. :+1:

[2015-11-05 16:50] bijoutrouvaille commented on #898
@dereklieu for the sake of due diligence I've re-authored the app, and I've noticed the "grant access" to the new org. Now I feel silly because I've gone through the process twice before, being aware of #826.

What's strange, however, is that earlier I've made another github account to test this, and after I've re-authored my main account this last time (after your reply), the second account just

[2015-11-05 16:54] dereklieu commented on #898
Oddness. Well if this is simply a symptom of #826 and auth scopes, then I feel we can close this issue.

[2015-11-05 16:54] #898 closed

[2015-11-05 21:38] dereklieu commented on #893
@tomsabin @phillipadsmith This behavior is working on `master` but had never been deployed. D'oh! just shows how much I need to get around to #835.

I've tested your example config file @tomsabin and added a second hidden elements just for kicks. Behavior is now working as it should when I create a new file.

[2015-11-05 21:38] #893 closed

[2015-11-05 21:47] dereklieu commented on #894
@tomsabin can't recreate this using your configuration; while the frontmatter is set to `tags: null` I never see `null` as a possible tag. Going to chalk this up to deployment issues a la #893. Please re-open if this persists.

[2015-11-06 10:50] tomsabin commented on #894
@dereklieu The problem is not that `null` is a possible tag, but the value itself is shown as being a tag. Hopefully this video will explain it a little bit clearer: http://cl.ly/0w0l3p2U3w3X

It shows me creating an article without any tags, then loading that article up again (as an aside, seems to be a short delay between what Prose syncs up with the repository) but the article then shows `null`

[2015-11-06 16:44] dereklieu commented on #894
@tomsabin ok, I understand the issue better now and will look into it.

[2015-11-07 01:18] M3kH commented on #743
Hi everybody,
I love Prose.
And I'm a JS lover, since that I'm a Metalsmith user. :-)

I took a quick look at the https://github.com/prose/prose/milestones/Priority
and from what I notice seems that prose needs some 'services' in his infrastructure.

Just mentioning some:
 - Oauth
 - Upload but not commit #501
 - Anonymous PR's #643

So I skip those issues because IMO they don't belong to this rep

[2015-11-09 00:53] kiwiroy commented on #841
Apologies here, javascript is not my primary language.

It would be really good to see this fixed. @dereklieu your diagnosis looks sound and this is what I assumed was going on, and so the fix might look something like:

[code]
sadly [backbone](https://github.com/jashkenas/backbone/blob/master/backbone.js#L1534) decodes before prose... so above is pretty useless.

A different approach is [here](ht

[2015-11-09 16:53] mikemorris commented on #743
Ah, yea, breaking `prose/prose.io` out into a separate repo might be a good idea @M3kH, and would help clean up the separation of a library with tagged releases and a site running a release of the library.

[2015-11-09 22:46] M3kH opened #900 "Create prose.io repository"
Even if Prose can be consider a self-hosted static editor.
Some of his services/features, require hosting capabilities.

In order to consider close this ticket:
The new prose.io repository should be created; and all the current issues solvable with a hosted service should be move in the new repository.

Some of the issues are:
- Oauth #790
- Upload but not commit #501
- Anonymous PR's #643
- Autos

[2015-11-09 22:49] M3kH commented on #743
Thanks @mikemorris then you can consider my first contribution at #900 :+1:
Tell me if I can help with it! Or anything else.

[2015-11-16 00:10] kiwiroy commented on #841
[code]

With appropriate `encodeURIComponent(this.branch)` is a better option to substitution and feels a lot less hack and more resilient.

See new [branch](https://github.com/prose/prose/compare/master...kiwiroy:router/issue841). I don't fully understand the how the test suite functions, so I'm unable to contribute there. Neither am I able to find all the places to add the call to `encodeURIComp

[2015-11-17 09:49] ApolloNet commented on #126
I could not write/save markdown files in an organization repo i own.

What i did to unlock :
 - logout from prose.io
 - copy the URL of the green button at the bottom right
 - changed the parameter &scope to : user,public_repo
 - paste the new URL in my browser
 - changed the permissions granted on organizations i own

[2015-11-22 07:33] nasht00 opened #901 "Cannot find module 'sinon'"
I am trying to install prose locally:

`npm install && mkdir -p dist && gulp`

Results in:

[code]

[2015-11-22 12:30] nasht00 opened #902 "Should preview show me the full layout or just the markdown?"
I'm playing around with prose.

I have a Jekyll site, it allows me to edit the markdown files, and the preview shows me the generated html from the markdown.

However, is it supposed to also show me the rest of the page when I preview? Like the layout? CSS? etc?

My site uses Jekyll 3 and plugins, if it matters...

[2015-11-23 18:12] dereklieu commented on #901
@nasht00 I'm having trouble re-producing this. What version of node.js are you running?

[2015-11-24 10:35] nasht00 commented on #901
[code]

[2015-11-25 00:17] parkr commented on #866
Going to close this out – I don't think Prose should merge with Jekyll so as a representative from Jekyll, "thanks! but no thanks! <3"

Keep doing crazy awesome things, you lovely people.

[2015-11-25 00:17] #866 closed

[2015-11-25 00:18] phillipadsmith commented on #866
:+1:

[2015-11-26 03:31] nicolasmccurdy commented on #902
It just shows you your rendered markdown content, without the extra templates or styles in your Jekyll site.

[2015-11-26 06:36] nasht00 commented on #902
From the Prose website (emphasis mine):

[2015-11-26 11:01] kategenevieve opened #903 "prose.io is putting empty image strings in to the html"
Hi,
Coming up against a significant problem on our website build - prose.io is mistakenly putting empty image strings in to the html. Not sure whether it should just not be adding the empty image paths at the CMS level, or whether it should be getting to the {% if %} statements in the _includes/media.html. Tests show that the if statements set up in the media.html are not working.

Trying to fix t

[2015-11-27 04:42] aussielunix commented on #902
@nasht00
I have got this working by adding the following to `_config.yml`
`siteurl: ...Turns on Jekyll live previews. The url is the homepage of the live site.`

[code]

[2015-11-28 17:20] dereklieu commented on #903
Hey @kategenevieve, can you explain the steps I might take to reproduce your bug? Does prose add extra image strings every time you save, or only some of the time? What does your _includes/media.html file look like?

[2015-11-29 16:43] kategenevieve commented on #903
Thanks

To reproduce - edit and save any of the .mk or .markdown files
in /_posts/projects/. This adds a faulty path for the jpg image, png image
and panorama image metadata fields to the html.

This occurs every time.

media.html file attached.

CCing in Dan who is helping me with the website & who is more knowledgable
than me :)

Look forward to hearing it back

Kate

On Sat, 28 Nov 2015 at 17:2

[2015-12-02 11:06] tormod17 opened #904 "Not allowing me to add a markdown file to a shared Repo on Github - any suggestions ?"
![image](https://cloud.githubusercontent.com/assets/11330267/11529390/b3f61a40-98e4-11e5-983a-b835a0a835bf.png)

[2015-12-02 16:15] dereklieu commented on #904
@tormod17 prose holds onto the auth cookie for a long time, so if this isn't your first time using prose and you've just gotten write access to a new organization or group, try clearing your cookies and re-authenticating.

[2015-12-03 16:55] dereklieu commented on #902
@nasht00 @aussielunix I don't have a repo I can test this with right now, but please mark this closed if it's resolved or send an update here.

[2015-12-04 12:59] kategenevieve commented on #903
Hey Kate and Derek,

Any update on this? It'd be great to know why the {%if} statements are
failing to check things properly. I'd like to get the broken bits fixed
over the weekend if possible!

Cheers,
Dan

On Sun, Nov 29, 2015 at 4:43 PM, Kate Genevieve <kate@chroma.space> wrote:

[2015-12-08 06:40] blairanderson commented on #902
@dereklieu confirming, this works with markdown files if you add the prose config object with a url.

It does not work with `.html` files but i think we should make a separate issue for that

[2015-12-08 06:41] blairanderson commented on #902
@nasht00 more info can be found here https://github.com/prose/prose/wiki/Prose-Configuration#options

[2015-12-08 15:36] #902 closed

[2015-12-09 09:27] p4m commented on #894
I have the same issue.

[2015-12-12 17:54] windweller opened #905 "Split Screen Markdown edit"
Hi! I'm wondering if you guys have considered to offer a split screen markdown edit?
Right now the "preview" seems fine...but a split screen simultaneous edit seems more useful!

I'm just wondering if this is a technical difficulty or a design choice...

[2015-12-14 19:06] dereklieu commented on #905
This would be cool but I'm not sure there's any bandwidth for this sort of undertaking right now. Right now maintenance is the priority, so unfortunately I have to mark this closed - although not from lack of interest, just time!

PS. http://socrates.io/ does this pretty well already and I use it a ton for collaborative editing.

[2015-12-14 19:06] #905 closed

[2015-12-14 22:49] M3kH commented on #900
I don't have any ownership that allows me to perform any action on Prose.
But I've created [Monera-pr-bot](https://github.com/Ideabile/monera-pr-bot) a service that can help for #501 #643
Is distributed by npm https://www.npmjs.com/package/monera-pr-bot.

For now isn't really nice documented. But for me is doing his job nicely :-) just if someone wants to give it a try.

[2015-12-15 09:55] kategenevieve commented on #903
Hey Derek,

Can you confirm you got the media.html file to your
derek@developmentseed.org email last week? Have you had any luck with
figuring out the {if} problem if so?

Cheers,
Dan

On Fri, Dec 4, 2015 at 12:59 PM, dan bibby <weatherbrow@gmail.com> wrote:

[2015-12-15 09:58] kategenevieve commented on #903
Hi Derek,
It would be great to hear back about this as I would love to fix the
website for the Christmas newsletter. It has worrying black banners at
present :)

Kate

On Tue, Dec 15, 2015 at 9:55 AM, dan bibby <weatherbrow@gmail.com> wrote:

--
Kate Genevieve
chroma.space

m: 07747725588
@kategenevieve

[2015-12-15 18:18] dereklieu commented on #903
Hi all, I've received your emails but haven't had time to look yet. I'll
try to get to it before the end of the week.

On Tue, Dec 15, 2015 at 4:58 AM, kategenevieve <notifications@github.com>
wrote:

[2015-12-15 18:36] kategenevieve commented on #903
Thank you, Derek

On Tue, Dec 15, 2015 at 6:21 PM, Derek Lieu <notifications@github.com>
wrote:

--
Kate Genevieve
chroma.space

m: 07747725588
@kategenevieve

[2015-12-16 18:48] isomerase commented on #297
+1 for creating/editing gists!

[2015-12-18 05:20] tauren opened #907 "History sidebars show ignored files"
The sidebar shows any files that have been updated, even if they should be ignored by Prose. This allows a user to access and edit files that should be hidden from them.

Is there a way to hide the sidebar history panels?

[2015-12-19 17:29] joshcomley commented on #902
I don't seem to have luck with this on my blog I'm setting up:

<https://github.com/joshcomley/Overengineer>

I've just taken a template and I'm currently in the process of configuring it all.

I put the right entry in _config.yml but nevertheless, when I click on the preview button I just get the standard preview. Is there something I might be missing?

Here is my `_config.yml`:

<https://github.

[2015-12-19 17:38] joshcomley opened #908 "Code highlighting"
As Prose.io is built especially with Jekyll in mind, should it support code highlighting in the preview like so:

    {% highlight ruby %}
    void SomeLovelyCode() {}
    {% endhighlight %}

Currently it doesn't work, but I'm not sure if this is a bug or a missing feature.

[2015-12-19 18:47] joshcomley commented on #902
Note to self, here:

Prose.io uses the `blog.html` template in `\_layouts`, if you don't have this, then you'll just get a blank preview.

However, I still haven't solved why the previews weren't working. I have taken a copy of the Prose starter site, replaced my entire repository with it, then previews worked. Then I gradually put my old repo code back in bit by bit, testing at each increment, an

[2015-12-19 19:03] joshcomley commented on #902
OK, further research yields this:

The `_config.yml` file needs to have this exact (as far as I can tell) setting in it:

	prose:
		metadata:
		  _posts:
			- name: "layout"
			  field:
				element: "hidden"
				value: "blog"

I tried setting `blog` to `default`, where I do have a `default.html` in my `_layouts` folder that is identical to the `blog.html`, but it would disable the live preview.

[2015-12-23 02:44] dereklieu commented on #903
If a metadata value didn't exist in frontmatter before and:

1. You open the file in prose;
2. You don't enter anything for that metadata key but save other changes;

Prose will insert a metadata value that is an empty string, or possibly an empty array for multi-selects.

This is not a great side-effect, but jekyll templates should do conditional checking anyway and `""` evaluates to false.

[cod

[2015-12-23 02:44] #903 closed

[2015-12-30 19:12] frob opened #909 "page doens't load if it contains an iframe"
I was writing an article locally, and when I attempted to open this article on prose.io it didn't load completely. My assumption is that this is because it has an iframe youtube embed in it. I have not investigated further.

[2016-01-02 15:38] dereklieu commented on #909
Hey @frob I tried recreating these steps but was able to open a markdown file with an embed in it.

Do you have any other clues as to what might be happening? Does prose show you any error messages, or does it just stick on the loading indicator? Any output to console? Do other files load ok?

[2016-01-03 01:35] lexoyo commented on #825
Hello, I think we could avoid having to pay for and to setup a certificate by using [cloudflare](https://www.cloudflare.com/). This is what I did for [the preprod environment of the hosted version of Silex](https://preprod.silex.me). What do you think?

[2016-01-04 13:52] mikemorris commented on #825
https://letsencrypt.org/

[2016-01-04 16:00] lexoyo commented on #825
:+1: (even if I did not use it for now)

[2016-01-04 16:16] dereklieu commented on #907
No way to hide the history panels, but sidebar should know not to show ignored files. This is a missing feature.

[2016-01-04 16:46] frob commented on #909
maybe it was a connection issue, I will try again.

[2016-01-04 16:47] frob commented on #909
It seems the issue has resolved itself. I can no longer reproduce.

[2016-01-04 16:47] #909 closed

[2016-01-04 16:57] dereklieu commented on #909
:+1:

[2016-01-04 23:49] jcleefw opened #912 "Customizing Toolbar with prose config"
Hi there,

I'm wondering is there any way that I can specify some additional settings for prose toolbar. for example some prefix codes that would paste out if user click the button.

Regards
JC

[2016-01-05 11:25] timwis opened #913 "Console error when reloading"
I noticed the flash of a console error when reloading prose.io while editing a file

![screen shot 2016-01-05 at 06 21 24](https://cloud.githubusercontent.com/assets/761444/12114046/e6f49c3c-b374-11e5-8830-6adbfa9d58e3.png)

It disappears very quickly, so I had to enable "Preserve log" to see it. Can't seem to find reference to it in the code, but [this stack overflow post](http://stackoverflow.co

[2016-01-05 22:49] dereklieu commented on #901
Should be fixed by #910. Marking this as closed.

[2016-01-05 22:49] #901 closed

[2016-01-06 23:08] timwis opened #914 "Editor marks dirty after empty commit"
This is nothing to worry about, but just noticed a minor bug. Steps to reproduce:
1. Open a file and make a minor change to it. Notice the save icon gets a dot on it, marking it "dirty"
2. Revert that change using backspace, etc. Notice the save icon remains "dirty"
3. Click save and commit. Notice the save icon is no longer "dirty"
4. Leave the page and return (either by navigating within the app

[2016-01-08 05:59] phillipadsmith commented on #912
I don't believe there is anything like that at the moment, no.

[2016-01-08 05:59] #912 closed

[2016-01-18 15:41] kzu opened #915 "Persisting edits to local storage is a must"
In order to really be a compelling alternative to desktop editing of markdown, it really really needs to support recovering in-flight editing when the browser crashes, the machine restarts, power goes out, etc.

Most modern browsers already allow web apps to persist locally to storage, and this is a key benefit of alternative editors like [StackEdit](https://github.com/benweet/stackedit), which ex

[2016-01-18 18:38] dereklieu commented on #915
Agree this would be a really nice feature to have. Anytime someone loses a post, that's a problem.

IMO, the work involved in timing a function to save a post every `n` seconds to localstorage, and then clearing out that storage after each save, would be the easier part. It would be harder to nail the user workflow of browser crash -> reload prose.io -> see some sort of notification that a post ha

[2016-01-19 01:07] mattymaloney commented on #498
I don't see how this is a dupe of #430. The problem described in this issue was not resolved when #430 was resolved.

Even now, we can not select text while editing a post in Chrome for Android. Editing/selecting does work fairly well in UC Browser.

[2016-01-21 19:51] mniinio commented on #652
I can verify that this is still happening (Jan 21st, 2016). I had a jsonp -file for a multiselect field where I tried several different error situations like leaving the value attributes as empty strings (example below), having empty linebreaks inside the callback function brackets and basically all of them showed up as javascript errors in the console, like "callback is not a function". Any javas

[2016-01-24 20:14] timwis opened #916 "Saving a .md file adds line break top of file every time"
Steps to reproduce:
1. Create a new `.md` file, notice the default text has the title on the first line
2. Hit save, commit
3. Refresh and notice there is a blank line above the title
4. Hit save again, commit
5. Refresh and there's another line. Repeat.

I've been doing this with a fork of prose/starter on the live prose.io site, which has metadata on it.

[2016-01-25 06:36] patcon opened #917 "Ability to authorize only public repo scope"
What it says on the tin :)

[2016-01-25 15:24] dereklieu commented on #917
@patcon There's a "Set respository access" clickable under "Authorize on Github" where you can specify this. If you've already logged in, you'll have to log out to change the scope.

[2016-01-25 19:00] patcon commented on #917
Yay! You guys are awesome.

[2016-01-25 19:00] #917 closed

[2016-01-26 02:07] dereklieu commented on #916
@timwis Yeah, I've noticed this too and it's super annoying.

[2016-01-27 13:05] brontosaurusrex commented on #916
Noticed that as well.

[2016-01-29 12:35] timwis commented on #916
Looks like it's working, submitted a pull request #919 for review

[2016-01-29 19:14] rrevanth opened #921 "Cursor pointer offset error"
While writing big paragraph in online editor,

the cursor goes in to some offset with the text,i.e ., the blinking cursor stays back while I write and continues at some offset.

It happens everytime!

[2016-01-30 15:31] damonbauer commented on #907
Not sure this is going to be any help, but I tested locally with a hard coded array and this works (I'm not sure how to parse the `yml` file(s) to look for an ignore array).

In the `renderFiles` method of `app/views/sidebar/history.js`, after `list` is defined (line 97):

[code]
[`_.difference`](http://underscorejs.org/#difference)

[2016-01-31 10:55] brontosaurusrex opened #922 "android browsers"
Can't seem to paste clipboard (tested default browser and firefox as well).

[2016-02-01 17:33] #916 closed

[2016-02-01 18:08] dtsn opened #923 "Unable to edit on mobile browser"
I am using an iPhone with Chrome and Safari a d the functionality is seriously impacted by not being able to write in the text box. Which ever code editor is being used allows you to delete character but not to insert them again.

Perhaps for mobile browser you should just have a standard textarea control. This will support all the phones and will be the easiest to control on a mobile phone.

[2016-02-01 18:09] dtsn commented on #923
Related to #922

[2016-02-01 20:44] dereklieu commented on #921
@rrevanth can you tell me what operating system and type of device (desktop computer, phone, tablet, etc) you're using? Also which browser.

[2016-02-01 21:54] dereklieu opened #925 "Npm run test command not working as expected"
In node 4.0, running `npm test` is no longer printing test results to console. Seems to just hang there.

Probably related to [mocha-phantom moving core to a different module](https://github.com/nathanboktae/mocha-phantomjs) after 4.0.

This would be a good reason to upgrade the node version we're pegging this to.

[2016-02-03 03:34] dereklieu commented on #819
Closed #927

[2016-02-03 03:34] #819 closed

[2016-02-03 11:14] rrevanth commented on #921
I am using elementary[it's based on ubuntu] on laptop and I am editing files online using chrome browser.

I even tried running prose offline,the error still persists.

Is it dependent on OS?

[2016-02-04 12:58] gitkrax commented on #597
Also experiencing this. Especially the date-mangling was problematic, since an invalid date will stop a previously working page from building in Jekyll.

[2016-02-10 20:57] dereklieu commented on #921
@rrevanth can you share a screenshot? Could be a codemirror issue but honestly I've never seen this before. Shouldn't have anything to do with OS though.

Does it only happen with large paragraphs, or does any file set it off? What kind of file are you editing?

[2016-02-11 06:30] rrevanth commented on #921
@dereklieu Yeah. I made a recording of the error.

I observed an interesting pattern.

The offset is increasing by the number of characters corresponding to the line no of the paragraph.

i.e., On the first line,the offset is one char.

On second,2 chars.

Here are the links for the videos

https://youtu.be/nQfW6vq2HmA

https://youtu.be/vWsiNIgG0-g

[2016-02-11 20:47] tmray commented on #852
I second this enhancement request. Since github pages just announced that it is [only going to support kramdown for github pages](https://github.com/blog/2100-github-pages-now-faster-and-simpler-with-jekyll-3-0).

Because of this some of the text editor helpers, like h2 & h3 don't work now when you publish.

[2016-02-17 01:26] progrium commented on #888
Definitely think localStorage is the way to go about this. Linking to this issue: https://github.com/prose/prose/issues/915

[2016-02-17 01:28] progrium commented on #892
Since I'm not sure what you mean by "edit in prose" (new to this project), do you mean head back to the original document on prose.io or the referring page? I'm curious because I'm interested in similar functionality, I want to be able to return to the referring page after committing.

[2016-02-17 15:58] dereklieu commented on #892
:+1: prose application state should be able to say where the original document is, although I can't say exactly where it's stored at the moment. Unsure if there's a way to know that you're being referred from github though.

[2016-02-17 16:31] johnnyjanzen commented on #842
+1 any fix on this yet?  I'm also using prose.io with Hugo

[2016-02-24 11:17] jacarma opened #930 "Prevent leaving the page by error - Feature request"
Sometimes while editing I have navigated out of the page (for example pressing backspace) and lost my work.
Prose should alert the user before leaving the page if there is unsaved content.

[2016-02-25 20:44] jasonlally opened #931 "Error thrown: defaults.filter is not a function"
In chrome Version 48.0.2564.116 m I'm getting the following error when I load a specific markdown file for editing. In the debugger, I can see that defaults is populated with an array of objects, but defaults.filter then doesn't work.  I get the same error in Firefox 44.0.2.

I'm on Windows 7

![error](https://cloud.githubusercontent.com/assets/534176/13333558/761f138c-dbbc-11e5-9cdc-139e99e935d3.

[2016-02-29 21:15] ZevEisenberg commented on #891
+1 saw this as well

[2016-03-08 09:21] rberger commented on #823
Any possibility for this to be made to work?

[2016-03-08 18:01] timwis opened #934 "Prose for data"
Hey guys, I've had a few ideas recently that I'm just now connecting the dots on and wanted to get your thoughts. The premise is using prose.io for data, enabling laypersons to manage basic data without worrying about having a database or what "JSON" is. (ref #772)

As an example, prose's [CSV editor](https://github.com/prose/prose/pull/911) lets users edit CSV files like they would a spreadsheet,

[2016-03-08 18:39] simonv3 commented on #934
Thanks for this writeup @timwis, saw you outline it in #dat - I think this could be really interesting to @bnvk who's doing some work with [data packages](http://dataprotocols.org/data-packages/) in [Conjuror](https://github.com/bnvk/conjuror/) to make them auto-magically generated based on certain "spells").

Also, this is probably of interest to the people at @openfarmcc who will probably settle

[2016-03-08 20:58] timwis commented on #934
Thanks @simonv3.

Just thought of another possible path for this (and updated original post): Something closer to [github's issue templates](https://github.com/blog/2111-issue-and-pull-request-templates) - define a template file with some text in it, and every time you click "new" it prefills it with that text. At the moment, clicking "new" prefills it with:

[code]
It also sets the filename to `c

[2016-03-11 17:57] jasonlally commented on #931
Hey, nevermind on this. It was an issue with the underlying config that I couldn't see. I must have stared at that forever, but I got it working :smile:

[2016-03-11 17:57] #931 closed

[2016-03-11 18:03] dereklieu commented on #931
@jasonlally :+1: was it an issue with your metadata settings, just out of curiosity?

[2016-03-14 18:39] edrex opened #935 "Prosemirror"
Prosemirror is a visual prose editor with excellent markdown support. I would love to see prosemirror integrated as an alternate editing view for markdown content.

https://prosemirror.net/demo/markdown.html

[2016-03-14 18:45] edrex commented on #935
Proposal:
 - add a button to the toolbar to toggle WYM mode.
 - Reuse toolbar and existing formatting buttons in WYM mode.
 - Adapt insert image and insert link popups to work in WYM mode.

[2016-03-14 20:28] timwis commented on #935
That looks like a handy editor. I was thinking of something like this when I saw [this medium-style editor for markdown](http://ionicabizau.github.io/medium-editor-markdown/) but it has a few bugs in it.

I'd also add "Store user's preference in a cookie" similar to how you can toggle the csv editor on/off and it saves it.

[2016-03-14 20:54] dereklieu commented on #935
I'm glad there's interest here. The company I work for was a backer to get Prose Mirror open-sourced, and a lot of our interest centered around using it for applications like Prose.

The version of CodeMirror bundled in Prose is woefully out of date (#929), and there's a lot of reasons to 1) update it, and 2) incorporate CodeMirror, which would allow a lot of cool things such as collaborative edit

[2016-03-16 04:31] jean commented on #823
This is my main use case too: allow non-techie collaborators to edit project wikis.

[2016-03-16 18:28] alexkleinubing commented on #908
+1

And add a button "code"

[2016-03-17 16:37] jmatsushita commented on #925
Hi there @dereklieu

I was looking at how things are with regards to testing in Prose given that you mentioned needing more tests to do regression testing on some cool PRs (like the ProseMirror integration #935 )

I came by this issue and couldn't reproduce it locally switching with nvm to node 4.0, 4.1 or 4.2. I thought I'd give a shot at building with travis across all know node_js version to se

[2016-03-17 17:16] jmatsushita commented on #900
I'm interested in this, this is also related to #782 and has some beginning code in #906 .

I think that having a "configuration as code" approach would help here so that deployment of the public prose site, dev versions are consistent and can be used for self-hosted scenarios. AFAIA You could go the Ansible route (or other CMs), go the docker route or go with a PaaS approach (Heroku buildpack).

[2016-03-18 13:18] M3kH commented on #900
Hey @jmatsushita happy to ear that I'm not alone in this.

But since get new Maintainers and moving forward this kind of issues seems complicated (we need permission to allow us to create repo under prose org.) I'm dropping the idea of use Prose.
I just found recently http://substance.io/ which I think can do the same job but has already a better separation editor / host-services (as far I can see

[2016-03-18 15:05] dereklieu commented on #925
@jmatsushita you're right, I just did a fresh `npm install` on `4.2.4` and it worked fine. Closing this.

[2016-03-18 15:05] #925 closed

[2016-03-18 17:56] dereklieu commented on #900
Hey @M3kH, thanks for opening this. For now our (limited, as you can see) efforts are focused on Prose.io. If you need to self-host and have needs that go beyond what Prose currently offers, you're totally welcome to fork and make improvements. We only ask that you consider opening a pull-request back into this repo if your improvements help the general Prose.io user.

I think common-sense steps l

[2016-03-22 06:44] dereklieu commented on #934
I like the idea of activating a JSON GUID that activates in lieu of the markdown editor for JSON files. It seems a lot better for editing a pre-existing data file compared to using the metadata editor, which is not space-efficient enough in it's current form for editing JSON data. I could see the metadata editor as useful for editing JSON schema though.

[2016-03-23 20:55] tfe opened #937 "Entities in metadata text fields being double-escaped"
I've got some text fields configured for the post metadata to add e.g. title, description. I'm seeing an issue where prose is replacing some characters with their HTML entities upon editing, but it doesn't seem to be undoing that later resulting in double- and triple-encoded entities.

A concrete example:

When starting out, I have this in the text field:

![screen shot 2016-03-23 at 1 46 42 pm](h

[2016-03-27 06:57] dereklieu commented on #937
@tfe yeah I've noticed this before as well. It's possible this is a regression of an XSS-related issue from a while back. I think a bit more sensible escaping could go a long way here.

[2016-03-30 03:05] jasonlally commented on #931
Yes, I had defined the metadata for one of the post types as:

[code]

When I switched to
[code]

Things worked.

[2016-04-06 12:48] yguezeldal commented on #876
+1

[2016-04-06 14:30] yguezeldal commented on #602
+1

[2016-04-07 20:32] bepetersn commented on #713
+1 I would also love to see Gitlab supported by prose, it would allow me to collaborate better with writers. Thanks much!

[2016-04-12 02:17] #759 closed, assigned to nobody

[2016-04-12 02:32] dereklieu opened #939 "Router misfire when navigating via url"
I have access to `prose/starter` and also my own fork at `dereklieu/starter`. From the index route, pointing my url to `#dereklieu/starter` takes me to `prose/starter` even though the url still thinks it's my fork. Navigating again aka hard refresh gets me to my fork where it should have taken me in the first place. This is probably a bug in the router.

[2016-04-12 02:33] dereklieu commented on #939
cc #841

[2016-04-12 02:54] dereklieu opened #940 "Decouple CSS"
Introduce a gulp build step to the CSS file and split it into parts, so it's not one monolith. Would make it less of a headache to update vendor styles which are just built-in right now. cc #938

[2016-04-12 18:39] edrex commented on #940
Oh so, the Codemirror styles are manually inlined in /styles.css currently? I somehow thought there was a concat step in the gulp file.

Maybe use something with @import walking, so the script doesn't have to hard code all the source files? I frequently use LESS or SCSS, but also understand some folks consider them overkill.

A minimal option with room to grow might be https://github.com/postcss/p

[2016-04-12 18:42] edrex commented on #940
I'd be up for taking this on, if you don't already have WIP @dereklieu.

[2016-04-12 18:53] dereklieu commented on #940
@edrex yeah the old Codemirror had a `position: absolute` inlined for this particular gutter, the new one ships with that style applied via css.

I have a WIP that uses SCSS and gulp-sass that is pretty much done, however I ran into a few hiccups regarding (I think) paths for custom fonts. Happy to push it up if you'd like to take a look at fixing the last few steps.

[2016-04-12 19:00] edrex commented on #940
Sure, I can take a look. Building on the codemirror-tests branch, or independent?

[2016-04-12 19:12] dereklieu commented on #940
@edrex thanks! I put them on a separate branch [here](https://github.com/prose/prose/tree/decouple-css).

The gulp tasks just replace the version of `style.css` that's in the directory root. That felt easier than putting the newly parsed css file into `dist` b/c of icon/font pathing. So right now the old `style.css` is left as is for the sake of debugging, but as soon as you run `gulp build` or `g

[2016-04-12 19:55] edrex commented on #940
I notice the editor width at different window widths is different from prose.io, but it seems to be the same as master branch. I assume that's a recent, undeployed change?

[2016-04-12 19:59] edrex commented on #940
Are the font discrepancies you're seeing in Firefox? I see them there. That's usually because of differences in handling of WOFF fonts (Firefox often chokes if the server doesn't set the right MIME header).

[2016-04-12 20:13] dereklieu commented on #940
@edrex yeah the width is a recent change. It hasn't yet been deployed on prose.io though.

[2016-04-12 22:22] andrew-luminal commented on #937
I've been having this issue as well. Was debugging and realized that this could be fixed by changing this line:
https://github.com/prose/prose/blob/f8092a72b00be8065a29498d309c3f843fb14a3a/app/views/meta/textarea.js#L84

...to NOT call `_.escape`. Should I make a PR?

[2016-04-12 22:27] dereklieu commented on #937
@andrew-luminal Ah, I put that line in there in #799. If we can not escape there and not get pwned then that should be fine.

[2016-04-12 22:30] andrew-luminal commented on #937
@dereklieu Awesome, thx -- we're actually doing manual corrections at this for my company's blog at the moment so I'm hoping this gets fixed soon. Any way I can help get it pushed through?

[2016-04-13 15:03] dereklieu commented on #937
@andrew-luminal I can spend some time testing this tonight. There's a repo from that ticket I linked to which makes it super convenient to know where an xss attack can succeed. If I don't encounter anything drastic then I will push a change with your suggestion.

[2016-04-15 02:23] #937 closed

[2016-04-15 04:10] #940 closed

[2016-04-16 04:40] aharris88 commented on #849
This is definitely fixed. 👍

[2016-04-18 20:01] jmmv commented on #897
+1 from here. I was really eager to give Prose a try when I stumbled upon it... but I cannot even do so: one of the organizations I belong to is (understandably) not OK with granting access to unverified apps.

Wondering if the API makes it possible to request access to a single repository? That'd be even better. I'd feel comfortable granting Prose access to a specific project, but not so much abo

[2016-04-18 22:31] dereklieu commented on #897
Looked into this more and it's currently not possible with the [authorization scopes the Github api makes available](https://developer.github.com/v3/oauth/#scopes), which only distinguishes public from private repos. You either get all public repos, or all repos.

@jmmv The repository endpoint has [plenty of options](https://developer.github.com/v3/repos/) for controlling which repos to list, but

[2016-04-20 04:18] tmfrnz opened #944 "Metadata for select form field shows first list item instead of actual value"
When providing multiple options for a select dropdown metadata form field the value shown on the metadata view is always the first item in the option list and not the actual value stored as the frontmatter attribute.

This happened regardless of "placeholder" attribute set, in multiple repositories I tested this, and both when specifying an options list above the prose settings, eg
[code]
and refe

[2016-04-20 15:42] kategenevieve opened #945 "JSON incorrectly checking parts where prose has added blank values for image files"
Hello there
Still having a significant problem with the images at http://chroma.space/ as referenced here > https://github.com/prose/prose/issues/903#issuecomment-160321862

When I update the written content of a page using prose.io "prose puts empty strings where it didn't find metadata before" @weatherbrow >> "The problem is caused by JSON incorrectly checking parts where prose has added blank v

[2016-04-21 00:08] dereklieu commented on #939
Closed #943

[2016-04-21 00:08] #939 closed

[2016-04-21 00:16] dereklieu commented on #908
Prose uses CodeMirror to edit and display code, line numbers, and highlighting. As such, we're somewhat limited by the [number of languages CodeMirror has syntax highlighting for](http://codemirror.net/mode/).

Currently you can see [which ones we include by default](https://github.com/prose/prose/blob/master/app/boot.js#L4-L12). Prose then deduces which one to apply based on the file extension.

[2016-04-21 00:16] #908 closed

[2016-04-21 00:19] dereklieu commented on #879
Fixed in #926 and just waiting on me to deploy later this evening, thanks @damonbauer!

[2016-04-21 00:19] #879 closed

[2016-04-21 00:22] dereklieu commented on #793
No actions here. We're probably not moving prose.io off github pages in the near future.

[2016-04-21 00:22] #793 closed

[2016-04-21 00:30] dereklieu commented on #717
I think the current setting of `max-width: 1000px` is an improvement, and I think having a button to toggle between fixed and fully fluid width would add unnecessary UI. Metadata editor is also more expansive as of #933.

[2016-04-21 00:30] #717 closed

[2016-04-21 00:31] #704 closed

[2016-04-21 03:18] dereklieu commented on #723
On Ubuntu 14.04 and confirmed that `PgUp`, `PgDn` would not do anything sometimes although I didn't dive into it using Firefox.

After deploying #943, those buttons now work the same as they do on OSX Chrome. `PgUp` doesn't go all the way up because of the sticky nav, leaving 2-3 lines obscured, but that behavior is the same on both systems and browsers.

Chalking this up to serving a really old v

[2016-04-21 03:18] #723 closed

[2016-04-21 03:19] dereklieu commented on #723
I should also add that `home` and `end` go to the top and bottom of the current paragraph, respectively, which is weird to me but consistent at least across the browsers/operating systems I tried it on.

[2016-04-21 06:59] orschiro commented on #723
@dereklieu,

Thank you so much!

I can happily confirm that the issue is fixed. :+1:

Warmly,

~Robert

[2016-04-21 16:29] dereklieu commented on #625
I would be open to an enhancement that makes it easier to edit json files, similar to the now-available csv editing (#911). Going beyond that in the way laid out by this ticket is, I think, not the goal of Prose, although I think the DBMS in the attached post is a cool use of the technology.

[2016-04-21 16:29] #625 closed

[2016-04-21 17:00] mklarmann commented on #934
we have worked on a similar implementation here https://github.com/Eaternity/eaternity-database-public

[2016-04-21 19:17] aharris88 opened #946 "How do you use Prose on Github Enterprise?"
I see that there is an oauth.json file, but I'm not sure what I need to change. I know what to change site to, but I'm not sure about the api. Also, what is clientId and gatekeeperUrl? Is there something that I need to host on heroku to get this to work?

[2016-04-21 19:30] dereklieu commented on #946
If it helps, this is [Gatekeeper](https://github.com/prose/gatekeeper)

Sorry, but I'm not too familiar with Github Enterprise. If it exposes the same API endpoints as github.com, then it should be straightforward. User authentication code is in the [models#User](https://github.com/prose/prose/blob/master/app/models/user.js#L21) and gets called from [boot](https://github.com/prose/prose/blob/maste

[2016-04-21 23:02] dereklieu commented on #882
Nope, I was wrong, this is a bug in which the default select value doesn't get chosen.

[2016-04-21 23:02] dereklieu commented on #944
Dupe of #882

[2016-04-21 23:05] dereklieu commented on #944
Also, the placeholder property does nothing. This should either be removed from the documentation, or made to work.

[2016-04-24 18:45] dereklieu opened #947 "Uncaught TypeError in sidebar/li/commit.js"
Running into a js error. Not sure of exact cause but seems to happen when I create a new file. Possibly a race condition?

`Uncaught TypeError: Cannot read property 'files' of undefined`

[Here is the line](https://github.com/prose/prose/blob/master/app/views/sidebar/li/commit.js#L25).

Tripping this causes the loading indicator to forever spin.

[2016-04-25 20:36] aharris88 commented on #946
Thanks. I didn't realize I needed a server... It would be great if there were detailed instructions on how to setup Prose for Github Enterprise.

[2016-04-27 21:56] dereklieu opened #948 "Edit/delete buttons not showing on wider viewports"
On wider screens now:

<img width="1099" alt="screen shot 2016-04-27 at 5 55 14 pm" src="https://cloud.githubusercontent.com/assets/1590802/14869409/49201366-0ca1-11e6-8fc3-af39420735e2.png">

Before:

<img width="951" alt="screen shot 2016-04-27 at 5 56 08 pm" src="https://cloud.githubusercontent.com/assets/1590802/14869417/57881f48-0ca1-11e6-9098-3d6fcb8033c6.png">

Visual regression from #927

[2016-04-28 19:33] dereklieu commented on #947
Thinking this has something to do now with [this commit](https://github.com/prose/prose/pull/943/commits/01fb4175dd3eefa0c8a79e5aabcb3259f356321d), navigating from localhost into my fork and opening a file triggers this error, while navigating into the original repo does not trigger the error.

[2016-04-28 20:19] #835 closed

[2016-04-29 23:33] #882 closed

[2016-04-29 23:33] #894 closed

[2016-04-29 23:33] #944 closed

[2016-05-03 18:37] #674 closed

[2016-05-04 15:15] dereklieu commented on #519
Current path is `user/repo/branch/directory/filename` which is adequate. Closing.

[2016-05-04 15:15] #519 closed

[2016-05-04 15:22] dereklieu commented on #518
My preferred fix would be, when someone navigates away from a post that has changes, show a notification that asks whether you want to save those changes or discard them.

On loading a post, show a notification if there are local changes that differ from the current version, and ask whether to use those. This should only happen on a crash.

[2016-05-04 15:22] #913 closed

[2016-05-04 16:56] jmatsushita commented on #749
Hi there, I was searching for an existing issue which are about the fact that there is currently only a way to navigate to the root of a repo from the editor view. I think this issue reflects this best and in that sense is not really a duplicate of the other issues mentioned before which are about preventing to navigate away from the editor with unsaved changes.

The sidebar idea could address thi

[2016-05-04 18:20] edrex commented on #518
sgtm

[2016-05-04 20:12] dereklieu commented on #749
Yeah, I find myself wishing I could go back easier without going to the root. I think breadcrumbs could be a nice way to do this.

[2016-05-04 21:31] dereklieu commented on #946
@aharris88 I've started a [docs file](https://github.com/prose/prose/blob/master/DEPLOYMENT.md) to start capturing some of this stuff, and to make it easier to deploy your own version. What else is helpful to know vis a vis setting up Prose for enterprise?